<app-pagecadastro #pageCadastro [config]="config" (save)="salvar($event)" [form]="form">
    <div class="page-loteria-cadastro rd-flex rd-col rd-gap-8">
        <div class="rd-col rd-flex rd-gap">
            <div class="div-edicao rd-flex rd-col">
                <form [formGroup]="form">
                    <div class="rd-flex rd-col ">
                        <div class="p-field rd-col">
                            <label for="nome" translate>NOME</label>
                            <input id="nome" required formControlName="nome" type="text" pInputText>                     
                            <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div> 
                        <div class="p-field rd-col">
                            <label for="url" translate>URL</label>
                            <input id="url" required formControlName="url" type="text" pInputText>                     
                            <small id="url" *ngIf="form.controls['url'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div> 
                        <div class="rd-row rd-gap">
                            <div class="p-field rd-col" *ngIf="resultado?.dataAtualizacao">
                                <label for="ultimaAtualizacao" translate>ULTIMA_ATUALIZACAO</label>
                                <p-calendar [showTime]="true" hourFormat="24" autocomplete="off" type="date" formControlName="dataAtualizacao"
                                    dateFormat="dd/mm/yy" appendTo="body" disabled>
                                </p-calendar>
                            </div>
                            <button *ngIf="loteria?.id != null" type="button" class="p-mr-2" label="{{'ATUALIZAR_RESULTADO'|translate}}"  pButton pRipple 
                            (click)="atualizarResultado()"></button>
                        </div>
                    </div> 
                    <p-fieldset *ngIf="resultado?.dataAtualizacao" legend="{{'RESULTADO'|translate}}">
                        <div class="rd-flex rd-col ">
                            <textarea disabled pInputTextarea [rows]="15" formControlName="resultado"></textarea>
                        </div>
                    </p-fieldset>
                </form>      
            </div>
            <div class="acoes rd-col rd-gap">

            </div>      
        </div>    
    </div>            
</app-pagecadastro>