@mixin page-configuracao-loteria-cadastro($videotheme) {
 
    app-loteria-cadastro {
        flex: auto;
        display: flex;
        flex-direction: column;
        
        .page-loteria-cadastro{
            flex: auto;
        }
    }
}