<form class="ajuda-tela">
    <div>
        <div class="p-p-4">
            <label for="ajuda" translate>AJUDA</label>
        </div>


        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <input id="ajuda" type="text" formControlName="ajuda" pInputText
                    [placeholder]="'QUAL_A_SUA_DUVIDA' | translate" />
            </div>
        </div>

        <div class="p-fluid">
            <div class="p-field p-inputtext-sm">
                <input id="duvida" type="text" formControlName="ajuda" pInputText
                    [placeholder]="'DUVIDA 1' | translate" />
            </div>
            <div class="p-field">
                <input id="duvida" type="text" formControlName="ajuda" pInputText
                    [placeholder]="'DUVIDA 1' | translate" />
            </div>
            <div class="p-field">
                <input id="duvida" type="text" formControlName="ajuda" pInputText
                    [placeholder]="'DUVIDA 1' | translate" />
            </div>
            <div class="p-field">
                <input id="duvida" type="text" formControlName="ajuda" pInputText
                    [placeholder]="'DUVIDA 1' | translate" />
            </div>
        </div>

        <h5>Nossos Canais</h5>

        <div class="p-grid">
            <div class="box p-shadow-1">
                E-mail
            </div>
            <div class="box p-shadow-1">
                Telefone
            </div>
        </div>
    </div>
</form>