@mixin page-ajuda-theme($theme) {
    $primary: map-get($theme, primary);

    .ajuda-tela{
        background-color: white;
        margin: 50px !important;
        position: absolute;
        height: 450px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        top: 40px;
        
        .p-p-4{
            padding-bottom: 1rem !important;
            padding-top: 1rem !important;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
         }
        
         .p-field {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .p-card .p-card-content {
            padding: 0rem;
        }

        .grupos{
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .content{
            width: 100%;
            max-width: 600px;
            margin: auto;
            top: 0px;
            bottom: 0px;
        }

        .box {
            min-height: 200px;
            min-width: 350px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            font-weight: 600;
            margin: 1rem;
            border-radius: 5px;
        }
        
        .p-grid{
            margin-right: 2rem;
            .pi{
                color: map-get($theme,light);
            }
        }

        .texto-colorido{
            color: map-get($theme,light);
       }
       
    
    }
}