<app-pagecadastro [config]="config" (save)="salvar($event)">
    <div class="playlist-cadastro rd-flex rd-col rd-gap-8">        
        <div class="rd-flex rd-col">
            <form [formGroup]="form" class="rd-flex rd-col">
                <div class="rd-flex rd-col ">
                    <div class="p-field rd-col">
                        <label for="titulo" translate>NOME</label>
                        <input id="titulo" required formControlName="nome" type="text" pInputText>                     
                    </div>
                    
                    <div class="rd-col rd-flex ">
                        <div class="div-container-orderlist rd-col">
                            <div class="rd-row header">
                                <div class="rd-flex">
                                    {{'CONTEUDOS'|translate}}
                                </div>
                                <div>
                                    <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-rounded btn-add" translate (click)="abrirLista()"></button>
                                </div>
                            </div>
                            <p-orderList class="rd-flex rd-col" [value]="listaConteudo"  [dragdrop]="true" controlsPosition="right">
                                <ng-template let-itemList pTemplate="item">
                                    <app-conteudo-row [conteudo]="itemList.conteudo"  (onExcluir)="excluirConteudo(itemList)"
                                        [exibiBtnAlterar]="false" [exibiBtnExcluir]="true" [exibiBtnVisualizar]="false" [exibiBtnArquivo]="false">
                                    </app-conteudo-row>
                                </ng-template>
                            </p-orderList>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>            
</app-pagecadastro>

