<app-pagecadastro-conteudo [content]="content" [config]="{titulo: titulo, btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
        <form [formGroup]="form">
            <div class="rd-flex rd-col ">
                <div class="p-field rd-col">
                    <label for="titulo">{{'TITULO'|translate}}</label>
                    <input id="titulo" required formControlName="titulo" type="text" pInputText>                     
                    <small id="titulo-error" *ngIf="form.controls['titulo'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div> 
                <p-selectButton class="p-field" [options]="tipos" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipo" optionValue="id" optionLabel="nome">
                    <ng-template let-item>
                        {{item.nome|translate}}
                    </ng-template>
                </p-selectButton>
                <div class="p-field rd-col" *ngIf="tipo == 1">
                    <label for="template" translate>{{'TEMPLATE'|translate}}</label>
                    <p-autoComplete id="template" formControlName="template" 
                        [suggestions]="templates" (completeMethod)="pesquisarTemplate($event.query)" field="nome" [dropdown]="true">
                        <ng-template let-template pTemplate="item">
                            <div>{{template.nome}} </div>
                        </ng-template>
                    </p-autoComplete>
                    <small id="template" *ngIf="form.controls['template'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div> 
                <div class="p-field p-d-flex p-flex-row" *ngIf="tipo == 3">
                    <p-fileUpload #fileUpload mode="basic" cancelLabel="CANCELAR" [auto]="true" chooseLabel="ESCOLHER" uploadLabel="CARREGAR" 
                    name="filename" customUpload="true" (uploadHandler)="uploadFile($event)" 
                    accept="image/.png,.jpg,.jpeg"></p-fileUpload>
                    <div class="p-col arquivo">{{arquivo?.nome}}</div>
                    <p-dialog [(visible)]="mostrarPreview" >
                        <div class="image-container" [ngStyle]="{'background':'url(' + arquivo?.url+')'}" ></div>
                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="mostrarPreview=false" label="OK" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>
                </div> 
                <div *ngIf="tipo == 2">
                    <div class="p-field rd-row">
                        <p-fileUpload #fileUpload mode="basic" maxFileSize="99999999" fileLimit="1" cancelLabel="CANCELAR" [auto]="true" chooseLabel="ESCOLHER" uploadLabel="CARREGAR" 
                        name="filename" customUpload="true" (uploadHandler)="uploadFile($event)" accept=".mov,.mp3,.mkv,.mp4" ></p-fileUpload>
                        <div class="rd-flex arquivo">{{arquivo?.nome}}</div>
                        <!-- <div class="rd-flex">{{arquivo.url}}</div> -->
                        <button pButton *ngIf="arquivo" type="button" label="{{'BAIXAR'|translate}}" (click)="baixarArquivo()" ></button>
                    </div>  
                    <div class="p-field rd-row rd-gap">
                        <!-- <label class="label-field" translate>AUDIO</label>                                 -->                    
                        <p-radioButton name="audio" value="1" formControlName="audio"  label="{{'SEM_AUDIO'|translate}}"></p-radioButton>
                        <p-radioButton name="audio" value="2" formControlName="audio" label="{{'COM_AUDIO'|translate}}"></p-radioButton>
                    </div>
                </div>
                <div class="p-field rd-col" *ngFor="let camp of campos">
                    <label for="{{'camp'+camp.id}}">{{camp.nome |translate}}</label>
                    <input id="{{'camp'+camp.id}}" required [(ngModel)]="camp.valor" type="{{camp.tipo == 1 ?'text': camp.tipo == 2 ?'number':camp.tipo == 5?'date':'text'}}" pInputText [ngModelOptions]="{standalone: true}">                     
                </div> 
                <div class="tempo rd-row rd-gap" *ngIf="tipo != 2">
                    <label class="label-field">{{'TEMPO_DE_EXIBICAO'|translate}}</label>
                    <span class=" rd-row">                
                        <input id="minutos" class="input-tempo" formControlName="minutos" min="0"  type="number" pInputText>                         
                        <label class="label-field" for="minutos">&nbsp; {{'MINUTOS'|translate }}</label>
                    </span>
                    <span class=" rd-row">                
                        <input id="segundos" type="number" min="0" max="60" formControlName="segundos" class="input-tempo" pInputText>                         
                        <label class="label-field" for="segundos">&nbsp;{{'SEGUNDOS'|translate}}</label>
                    </span>
                </div>
                <app-panel-agendamento-conteudo #panelAgendamento>
        
                </app-panel-agendamento-conteudo> 
            </div> 
        </form>       
    </ng-template>
</app-pagecadastro-conteudo>