<app-pagecadastro [config]="config" [form]="form" (save)="salvar($event)">
    <div class="grupoplayer-cadastro rd-flex rd-col rd-gap-8">        
        <div class="rd-flex rd-col">
            <form class="rd-flex" [formGroup]="form">
                <p-tabView class="rd-h-100">
                    <p-tabPanel class="rd-h-100 rd-col" header="{{'DADOS' | translate}}">
                        <div class="rd-flex rd-col rd-over-hidden">
                            <div class="p-field rd-col">
                                <label for="nome" translate>NOME</label>
                                <input id="nome" required formControlName="nome" type="text" pInputText>                     
                                <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                            </div>  
                            <p-listbox class="rd-h-100" [options]="itens" [(ngModel)]="selectedPlayers" [filter]="true" [checkbox]="true" [multiple]="true" optionLabel="nome" [ngModelOptions]="{standalone: true}">
                                <ng-template pTemplate="header">
                                    {{'SELECIONE_OS_PLAYERS_PARA_O_GRUPO'|translate}}
                                </ng-template>
                                <ng-template let-player pTemplate="item">
                                    <div class="dv-player">
                                        <div class="nome-player">{{player.identificacao}}&nbsp;&nbsp;{{player.nome}}</div>
                                    </div>
                                </ng-template>
                            </p-listbox>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel class="rd-row" header="{{'OBSERVACAO' | translate}}">
                        <textarea class="rd-flex txt-observacao" pInputTextarea  rows="16" formControlName="observacao"></textarea>
                    </p-tabPanel>
                </p-tabView>
            </form>
        </div>
    </div>            
</app-pagecadastro>


