@mixin app-grupoplayer-cadastro($videotheme) {
 
    app-grupoplayer-cadastro {
        flex: 1;
        height: 100%;
        display: flex;
        .label-field{
            line-height: 20px;
            white-space: nowrap;
            margin: 8px;
            margin-left: 0px;
        } 
        p-autocomplete {
            display: flex;
            span {
                flex: 1;
            };
        } 
    }
}