@mixin app-grupoplayer-cadastro($videotheme) {
 
    app-grupoplayer-cadastro {
        
        height: 100%;
        .grupoplayer-cadastro{
            height: 100%;
        }
        .p-card-content {
            height: 100%;
        }
        .label-field{
            line-height: 20px;
            white-space: nowrap;
            margin: 8px;
            margin-left: 0px;
        } 
        .p-tabview-panel{ 
            flex: 1;
        }
        .txt-observacao{
            min-width: 100%;
            min-height: 100%;
        }
        p-autocomplete {
            display: flex;
            span {
                flex: 1;
            };
        } 
        .dv-player{
            line-height: 30px;
        }
    }
}