<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_COTACAO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content> 
            <form [formGroup]="form">
                <div class="rd-flex rd-col ">
                    <div class="p-field rd-col">
                        <label for="titulo">{{'TITULO'|translate}}</label>
                        <input id="titulo" required formControlName="titulo" type="text" pInputText>                     
                    </div> 
                    <div class="p-field rd-col">
                        <label for="template" translate>TEMPLATE</label>
                        <p-autoComplete id="template" formControlName="template" 
                            [suggestions]="templates" (completeMethod)="pesquisarTemplate($event.query)" field="nome" [dropdown]="true">
                            <ng-template let-template pTemplate="item">
                                <div>{{template.nome}} </div>
                            </ng-template>
                        </p-autoComplete>
                        <small id="template" *ngIf="form.controls['template'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                    </div> 
                    <div class="p-field rd-col" *ngFor="let camp of campos">
                        <label for="titulo">{{camp.nome |translate}}</label>
                        <input id="titulo" required [(ngModel)]="camp.valor" type="{{camp.tipo == 1 ?'text': camp.tipo == 2 ?'number':camp.tipo == 5?'date':'text'}}" pInputText [ngModelOptions]="{standalone: true}">                     
                    </div>  
                    <div class="tempo rd-row rd-gap">
                        <label class="label-field">{{'TEMPO_DE_EXIBICAO'|translate}}</label>
                        <span class=" rd-row">                
                            <input id="minutos" class="input-tempo" formControlName="minutos" min="0"  type="number" pInputText>                         
                            <label class="label-field" for="minutos">&nbsp; {{'MINUTOS'|translate}}</label>
                        </span>
                        <span class=" rd-row">                
                            <input id="segundos" type="number" min="0" max="60" formControlName="segundos" class="input-tempo" pInputText>                         
                            <label class="label-field" for="segundos">&nbsp;{{'SEGUNDOS'|translate}}</label>
                        </span>
                    </div>
                    <app-panel-agendamento-conteudo #panelAgendamento>
            
                    </app-panel-agendamento-conteudo> 
                </div> 
            </form>     
</ng-template>
</app-pagecadastro-conteudo>


