<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_LOTERIA', btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
        <p-messages></p-messages>
        <form [formGroup]="form">
            <div class="rd-flex rd-col div-form">
                <div class="p-field rd-col">
                    <label for="titulo">Título</label>
                    <input id="titulo" required formControlName="titulo" type="text" pInputText>                     
                    <small id="titulo" *ngIf="form.controls['titulo'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div>
                <div class="p-field rd-col">
                    <label for="loteria" translate>LOTERIA</label>
                    <p-autoComplete id="loteria" formControlName="loteria" 
                        [suggestions]="loterias" (completeMethod)="pesquisarLoteria($event.query)" field="nome" [dropdown]="true">
                        <ng-template let-loteria pTemplate="item">
                            <div>{{loteria.nome}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <small id="loteria" *ngIf="form.controls['loteria'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div>
                <div class="p-field rd-col">
                    <label for="template" translate>TEMPLATE</label>
                    <p-autoComplete id="template" formControlName="template" 
                        [suggestions]="templates" (completeMethod)="pesquisarTemplate($event.query)" field="nome" [dropdown]="true">
                        <ng-template let-template pTemplate="item">
                            <div>{{template.nome}} </div>
                        </ng-template>
                    </p-autoComplete>
                    <small id="template" *ngIf="form.controls['template'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div> 
                <div class="tempo rd-row rd-gap">                    
                    <span class=" rd-row">                
                        <label class="label-field" for="segundos">{{'EXIBICAO_EM_SEGUNDOS'|translate}}</label>
                        <input id="segundos" type="number" min="0"  formControlName="segundos" class="input-tempo" pInputText>                         
                    </span>
                </div>
                <app-panel-agendamento-conteudo #panelAgendamento>
        
                </app-panel-agendamento-conteudo> 
            </div> 
        </form>       
    </ng-template>
</app-pagecadastro-conteudo>