<div class="register-action rd-col rd-gap">
    <button *ngIf="permitePublicar" pButton (click)="publicar()"  type="button" label="{{'PUBLICAR'|translate}}"></button>
    <button *ngIf="permitePreview" pButton (click)="preview()" type="button" label="{{'PREVIEW'|translate}}"></button>
    <button *ngIf="permiteSalvar" pButton (click)="salvar()" type="button" label="{{'SALVAR'|translate}}"></button>
    <button *ngIf="permiteImportar" pButton (click)="importar()" type="button" label="{{'IMPORTAR'|translate}}"></button>
</div> 