<app-pagecadastro #pageCadastro [config]="config" (save)="salvar($event)" [form]="form">

    <div id="ambiente-novo" class="page-cadastro slide">
        <form [formGroup]="form">
            <p-tabView>
                <p-tabPanel header="{{'EMPRESA' | translate}}">
                    <div *ngIf="empresa.id">
                        <div class="p-field" style="width: 50%">
                            <input placeholder="{{'CODIGO'|translate}}" formControlName="id" disabled="true"
                                tabindex="-1" type="text" required="false">
                        </div>
                    </div>

                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="razao">{{'RAZAO_SOCIAL' | translate}}</label>
                                <input id="razao" type="text" formControlName="razaoSocial" required pInputText />
                                <small id="razao"
                                    *ngIf="form.controls['razaoSocial'].hasError('required') && form.controls['razaoSocial'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_A_RAZAO_SOCIAL_</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="fantasia">{{'FANTASIA' | translate}}</label>
                                <input id="fantasia" type="text" formControlName="fantasiaEmpresa" equired pInputText />
                            </div>
                        </div>

                        <div class="card">
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col">
                                    <label for="cnpj">{{'CNPJ' | translate}}</label>
                                    <p-inputMask #inputCnpj id="cnpj" type="text" mask="99.999.999/9999-99" name="cnpjEmpresa"
                                        formControlName="cnpjEmpresa"  required
                                        validaCpfCnpj (blur)="blurFocusCNPJEmpresa()"></p-inputMask>
                                    <small id="cnpj"
                                        *ngIf="form.controls['cnpjEmpresa'].hasError('required') && form.controls['cnpjEmpresa'].touched"
                                        class="mat-text-warn" translate>FAVOR_INFORMAR_O_CNPJ_</small>
                                    <small id="cnpj" *ngIf="form.controls['cnpjEmpresa'].hasError('cnpj')" translate>
                                        CNPJ_INVALIDO
                                    </small>
                                </div>

                                <div class="p-field p-col">
                                    <label for="cep">{{'CEP' |translate}}</label>
                                    <p-inputMask type="decimal" mask="99999-999" name="cep" formControlName="cep"
                                        placeholder="99999-999"></p-inputMask>
                                    <small id="cep"
                                        *ngIf="form.controls['cep'].hasError('required') && form.controls['cep'].touched"
                                        translate>FAVOR_INFORMAR_O_CEP_</small>
                                </div>

                                <div class="p-field p-col">
                                    <label for="estado">{{'ESTADO' |translate}}</label>
                                    <p-autoComplete formControlName="estado" [suggestions]="listaEstado"
                                        (completeMethod)="findEstadoPorNome($event.query)" field="nome"
                                        [dropdown]="true">
                                        <ng-template let-estado pTemplate="item">
                                            <div>{{ estado.nome }}</div>
                                        </ng-template>
                                    </p-autoComplete>

                                    <small id="p-estado" *ngIf="form.controls['estado'].hasError('required') &&
                                                form.controls['estado'].touched">{{'INFORME'| translate}}</small>
                                </div>

                                <div class="p-field p-col">
                                    <label for="cidade">{{'CIDADE' |translate}}</label>
                                    <p-autoComplete formControlName="cidade" [suggestions]="listaCidade"
                                        (completeMethod)="findCidadePorNomeEIdEstado($event.query)" field="nome"
                                        [dropdown]="true">
                                        <ng-template let-cidade pTemplate="item">
                                            <div>{{ cidade.nome }}</div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <small id="cidade"
                                        *ngIf="form.controls['cidade'].hasError('required') && form.controls['cidade'].touched">
                                        {{'INFORME'| translate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="rua">{{'RUA' |translate}}</label>
                                <input id="rua" type="text" name="rua" formControlName="rua" required pInputText />
                                <small id="rua"
                                    *ngIf="form.controls['rua'].hasError('required') && form.controls['rua'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_A_RUA_</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="rua">{{'NUMERO' |translate}}</label>
                                <p-inputNumber matInput nome="decimal" formControlName="numero" [useGrouping]="false"
                                    required></p-inputNumber>
                            </div>

                            <div class="p-field p-col">
                                <label for="bairro">{{'BAIRRO' |translate}}</label>
                                <input id="bairro" type="text" name="bairro" formControlName="bairro" required
                                    pInputText />
                                <small id="bairro"
                                    *ngIf="form.controls['bairro'].hasError('required') && form.controls['bairro'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_O_BAIRRO_</small>

                            </div>

                            <div class="p-field p-col">
                                <label for="complemento">{{'COMPLEMENTO' |translate}}</label>
                                <input id="complemento" type="text" name="complemento" formControlName="complemento"
                                    required pInputText />
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="email">{{'EMAIL' |translate}}</label>
                                <input id="email" name="emailEmpresa" (blur)="blurFocusEmailEmpresa()"
                                    formControlName="emailEmpresa" type="text" required pInputText>
                                <small id="email"
                                    *ngIf="form.controls['emailEmpresa'].hasError('required') && form.controls['emailEmpresa'].touched"
                                    translate> FAVOR_INFORMAR_O_EMAIL_</small>
                                <small id="email"
                                    *ngIf="form.controls['emailEmpresa'].errors?.email && form.controls['emailEmpresa'].touched"
                                    class="mat-text-warn" translate> VOCE_DEVE_INFORMAR_UM_EMAIL_VALIDO_</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="telefone">{{'TELEFONE' |translate}}</label>
                                <p-inputMask id="telefone" type="text" mask="(99) 999-9999" placeholder="(99) 999-9999"
                                    formControlName="telefoneEmpresa"></p-inputMask>

                                <!-- <input id="telefone" type="text" mask="(00) 0000-0000"
                                    [specialCharacters]="['(' ,')','-',' ' ]" formControlName="telefoneEmpresa" required
                                    pInputText /> -->
                            </div>
                            <div class="p-field p-col">
                                <label for="site">{{'SITE' |translate}}</label>
                                <input id="site" type="text" required name="site" formControlName="site" required
                                    pInputText />
                            </div>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="{{'USUARIO' | translate}}">
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="nome">{{'NOME' |translate}}</label>
                                <input id="nome" formControlName="razaoSocialUsuario" type="text" required="true"
                                    pInputText />
                                <small id="nome"
                                    *ngIf="( form.controls['razaoSocialUsuario'].hasError('required') && form.controls['razaoSocialUsuario'].touched ) "
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_O_NOME</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="email">{{'EMAIL' |translate}}</label>
                                <input id="email" required name="email" (blur)="blurFocusEmailUsuario()"
                                    formControlName="email" type="text" pInputText />
                                <small id="email"
                                    *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_O_EMAIL_</small>
                                <small id="email"
                                    *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
                                    class="mat-text-warn" translate>VOCE_DEVE_INFORMAR_UM_EMAIL_VALIDO_
                                </small>
                            </div>

                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="login">{{'LOGIN' |translate}}</label>
                                <input id="login" required formControlName="login" type="text" pInputText />
                                <small id="login"
                                    *ngIf="form.controls['login'].hasError('required') && form.controls['login'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_O_LOGIN_ </small>
                            </div>

                            <div class="p-field p-col">
                                <label for="senha">{{'SENHA' |translate}}</label>
                                <input id="senha" formControlName="senha" type="password" pPassword />
                                <small id="senha"
                                    *ngIf="form.controls['senha'].hasError('required') && form.controls['senha'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_A_SENHA_</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="confirmar">{{'CONFIRME_A_SENHA' |translate}}</label>
                                <input id="confirmar" formControlName="confirmeSenha" type="password" required
                                    pInputText />
                                <small id="confirmar"
                                    *ngIf="form.controls['confirmeSenha'].hasError('required') && form.controls['confirmeSenha'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_A_SENHA_</small>
                                <small id="confirmar"
                                    *ngIf="form.controls['confirmeSenha'].errors?.equalTo && form.controls['confirmeSenha'].touched"
                                    class="mat-text-warn" translate>SENHAS_NAO_CONFEREM_</small>
                            </div>
                        </div>


                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="apelido">{{'APELIDO' |translate}}</label>
                                <input id="apelido" type="text" name="fantasiaUsuario" formControlName="fantasiaUsuario"
                                    required pInputText />
                            </div>

                            <div class="p-field p-col">
                                <label for="cnpj-cpf">{{'CNPJ_CPF' |translate}}</label>
                                <input id="cnpj-cpf" type="text" mask="000.000.000-00||00.000.000/0000-00" [validation]="true"
                                    formControlName="cnpjUsuario" required validaCpfCnpj  pInputText/>
                                
                                <!-- <p-inputMask id="cnpj-cpf" type="text" mask="{{mascara}}" formControlName="cnpjUsuario"
                                    required validaCpfCnpj /> -->
                                <small id="cnpj-cpf"
                                    *ngIf="form.controls['cnpjUsuario'].hasError('required') && form.controls['cnpjUsuario'].touched"
                                    class="mat-text-warn" translate>FAVOR_INFORMAR_O_CNPJ_CPF</small>
                                <small id="cnpj-cpf" *ngIf="form.controls['cnpjUsuario'].hasError('cpf')" translate>
                                    CPF_INVALIDO </small>
                                <small id="cnpj-cpf" *ngIf="form.controls['cnpjUsuario'].hasError('cnpj')" translate>
                                    CNPJ_INVALIDO </small>
                            </div>
                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="telefone-u">{{'TELEFONE' |translate}}</label>
                                <p-inputMask id="telefone-u" type="text" mask="(99) 999-9999"
                                    placeholder="(99) 999-9999" formControlName="telefoneUsuario">
                                </p-inputMask>
                                <!-- <input type="text" mask="(00) 0000-0000"
                                            [specialCharacters]="['(' ,')','-',' ' ]"
                                            placeholder="{{'TELEFONE' | translate }}"
                                            formControlName="telefoneUsuario" /> -->
                            </div>
                            <div class="p-field p-col">
                                <label for="celular">{{'CELULAR' |translate}}</label>
                                <p-inputMask id="celular" type="text" mask="(99) 999-9999" placeholder="(99) 999-9999"
                                    formControlName="celularUsuario">
                                </p-inputMask>
                                <!-- <input type="text" [specialCharacters]="['(' ,')','-',' ' ]" mask="(00) 0 0000-0000"
                                    placeholder="{{'CELULAR' | translate }}" formControlName="celularUsuario" /> -->
                            </div>

                            <div class="p-field p-col">
                                <label for="idioma">{{'IDIOMA' |translate}}</label>
                                <p-autoComplete formControlName="idioma" [suggestions]="listaIdioma"
                                    (completeMethod)="findIdioma($event.query)" field="nome" [dropdown]="true"
                                    appendTo="body">
                                    <ng-template let-idioma pTemplate="item">
                                        <div>{{ idioma.nome }}</div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="{{'LICENCA' | translate}}">
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="plano">{{'PLANO' |translate}}</label>
                                <p-autoComplete formControlName="plano" [suggestions]="listaPlano"
                                    (completeMethod)="findPlanoPorNome($event.query)" field="nome" onselect="calcularTotal()"
                                    [dropdown]="true">
                                    <ng-template let-plano pTemplate="item">
                                        <div>{{plano.nome}}; {{plano.valor | currency:'BRL':'1.2-2'}}</div>
                                    </ng-template>
                                </p-autoComplete>
                                <small id="plano"
                                    *ngIf="form.controls['plano'].hasError('required') && form.controls['plano'].touched"
                                    class="p-error">
                                    {{'CAMPO_OBRIGATORIO'| translate}}</small>

                            </div>
                            <div class="p-field p-col">
                                <label for="periodo">{{'PERIODO' |translate}}</label>

                                <p-autoComplete (blur)="validarData()" formControlName="periodo"
                                    [suggestions]="listaPeriodo" (completeMethod)="findPeriodoPorNome($event.query)"
                                    field="descricao" [dropdown]="true">
                                    <ng-template let-periodo pTemplate="item">
                                        <div>{{periodo.descricao}}</div>
                                    </ng-template>
                                </p-autoComplete>

                                <!-- <p-dropdown (blur)="validarData()" fxFlex formControlName="periodo"
                                    placeholder="{{'PERIODO' | translate}}" required>
                                    <mat-option *ngFor="let _periodo of listaPeriodo"
                                                (click)="selecionarPeriodo(_periodo)" [value]="_periodo">
                                                {{_periodo.descricao}}</mat-option>
                                </p-dropdown> -->
                                <small id="periodo"
                                    *ngIf="form.controls['periodo'].hasError('required') && form.controls['periodo'].touched"
                                    class="p-error">
                                    {{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="numero">{{'NUMERO_USUARIOS' |translate}}</label>
                                <p-inputNumber formControlName="numeroUsuario" mode="decimal" [showButtons]="true"
                                    inputId="numero" [min]="0" [max]="1000" required>
                                </p-inputNumber>
                                <!-- <input autocomplete="off" type="number" formControlName="numeroUsuario"
                                    (blur)="calcularTotal()" placeholder="{{'NUMERO_USUARIOS' | translate}}" required> -->
                                <small id="numero" class="p-error">{{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>

                        </div>

                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="diavencimento">{{'DIA_VENCIMENTO' |translate}}</label>
                                <p-inputNumber formControlName="diaVencimento" mode="decimal" [showButtons]="true"
                                    inputId="diavencimento" (blur)="validarDiaVencimento()" [min]="0" [max]="150"
                                    required>
                                </p-inputNumber>
                                <!-- <input autocomplete="off" type="number" (blur)="validarDiaVencimento()"
                                    formControlName="diaVencimento" placeholder="{{'DIA_VENCIMENTO' | translate}}"
                                    requied> -->
                                <small id="diavencimento" class="p-error">{{'CAMPO_OBRIGATORIO' | translate}}</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="inicio">{{'DATA_INICIO' |translate}}</label>
                                <p-calendar formControlName="dataInicio" [showIcon]="true" dateFormat="dd/mm/yy"
                                    appendTo="body" inputId="inicio"></p-calendar>
                            </div>

                            <div class="p-field p-col">
                                <label for="fim">{{'DATA_FIM' |translate}}</label>
                                <input autocomplete="off" type="text" formControlName="dataFim" slotChar="dd/mm/yyyy"
                                    appendTo="body" pInputText>
                            </div>
                            <div class="p-field p-col">
                                <label for="total">{{'VALOR_TOTAL' |translate}}</label>
                                <p-inputNumber autocomplete="off" formControlName="valorTotal" inputId="total" mode="currency"
                                    currency="BRL" locale="pt-BR" [disabled]="true">
                                </p-inputNumber>
                                <!-- <p-inputMask matInput autocomplete="off" type="tel" currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                                    formControlName="valorTotal" [disabled]="true"
                                    ></p-inputMask> -->
                                <small id="total" class="p-error">{{'CAMPO_OBRIGATORIO' | translate}}</small>
                            </div>
                        </div>

                    </div>

                </p-tabPanel>
                <!-- <div class="rd-flex-auto rd-h-100 p-d-flex p-flex-row p-mt-4 ">
                    <div class="rd-flex-auto p-mb-2 p-col-6">
                        <router-outlet name="pesquisa"></router-outlet>
                    </div>
                    <div class="rd-flex-auto p-mb-2 p-col-6">
                        <router-outlet name="cadastro"></router-outlet>
                    </div>
                    
                </div> -->
            </p-tabView>
            <!-- </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" mat-button class="mat-raised mat-primary btn"
                    (click)="salvar()"><span translate>SALVAR</span></button>
            </mat-card-actions>
            </mat-card> -->
        </form>
    </div>
</app-pagecadastro>