<app-pagecadastro #pageCadastro [config]="config" (save)="salvar($event)" [form]="form">
    <div id="ambiente-novo" class="page-cadastro slide">
        <form [formGroup]="form">
            <p-steps [model]="items" [readonly]="false" [(activeIndex)]="activeIndex"
                (activeIndexChange)="onIndexStepChange($event)">
                <button></button>
            </p-steps>
            <div class="conteiner-step">
                <div *ngIf="activeIndex==0">
                    <div *ngIf="empresa.id">
                        <div class="p-field" style="width: 50%">
                            <input placeholder="{{'CODIGO'|translate}}" formControlName="id" disabled="true"
                                tabindex="-1" type="text" required="false">
                        </div>
                    </div>
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="razao">{{'RAZAO_SOCIAL' | translate}}</label>
                                <input id="razao" type="text" formControlName="razaoSocial" required pInputText />
                                <small id="razao"
                                    *ngIf="form.controls['razaoSocial'].hasError('required') && form.controls['razaoSocial'].touched"
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_A_RAZAO_SOCIAL_</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="fantasia">{{'FANTASIA' | translate}}</label>
                                <input id="fantasia" type="text" formControlName="fantasiaEmpresa" equired pInputText />
                            </div>
                        </div>

                        <div class="card">
                            <div class="p-fluid p-formgrid p-grid">
                                <div class="p-field p-col">
                                    <label for="cnpj">{{'CNPJ' | translate}}</label>
                                    <p-inputMask #inputCnpj id="cnpj" unmask="true" type="text"
                                        mask="99.999.999/9999-99" name="cnpjEmpresa" formControlName="cnpjEmpresa"
                                        required validaCpfCnpj (blur)="blurFocusCNPJEmpresa()"></p-inputMask>
                                    <small id="cnpj"
                                        *ngIf="form.controls['cnpjEmpresa'].hasError('required') && form.controls['cnpjEmpresa'].touched"
                                        class="mat-text-warn p-error" translate>FAVOR_INFORMAR_O_CNPJ_</small>
                                    <small id="cnpj" *ngIf="form.controls['cnpjEmpresa'].hasError('cnpj')" translate>
                                        CNPJ_INVALIDO
                                    </small>
                                </div>

                                <div class="p-field p-col">
                                    <label for="cep">{{'CEP' |translate}}</label>
                                    <p-inputMask type="decimal" unmask="true" mask="99999-999" name="cep"
                                        formControlName="cep" placeholder="99999-999"></p-inputMask>
                                    <small id="cep"
                                        *ngIf="form.controls['cep'].hasError('required') && form.controls['cep'].touched"
                                        translate>FAVOR_INFORMAR_O_CEP_</small>
                                </div>

                                <div class="p-field p-col">
                                    <label for="estado">{{'ESTADO' |translate}}</label>
                                    <p-autoComplete formControlName="estado" [suggestions]="listaEstado"
                                        (completeMethod)="findEstadoPorNome($event.query)" field="nome"
                                        [dropdown]="true">
                                        <ng-template let-estado pTemplate="item">
                                            <div>{{ estado.nome }}</div>
                                        </ng-template>
                                    </p-autoComplete>

                                    <small id="p-estado" *ngIf="form.controls['estado'].hasError('required') &&
                                                form.controls['estado'].touched">{{'INFORME'| translate}}</small>
                                </div>

                                <div class="p-field p-col">
                                    <label for="cidade">{{'CIDADE' |translate}}</label>
                                    <p-autoComplete formControlName="cidade" [suggestions]="listaCidade"
                                        (completeMethod)="findCidadePorNomeEIdEstado($event.query)" field="nome"
                                        [dropdown]="true">
                                        <ng-template let-cidade pTemplate="item">
                                            <div>{{ cidade.nome }}</div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <small id="cidade"
                                        *ngIf="form.controls['cidade'].hasError('required') && form.controls['cidade'].touched">
                                        {{'INFORME'| translate}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="rua">{{'RUA' |translate}}</label>
                                <input id="rua" type="text" name="rua" formControlName="rua" required pInputText />
                                <small id="rua"
                                    *ngIf="form.controls['rua'].hasError('required') && form.controls['rua'].touched"
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_A_RUA_</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="numero">{{'NUMERO' |translate}}</label>
                                <p-inputNumber id="numero" matInput formControlName="numero" [useGrouping]="false">
                                </p-inputNumber>
                            </div>

                            <div class="p-field p-col">
                                <label for="bairro">{{'BAIRRO' |translate}}</label>
                                <input id="bairro" type="text" name="bairro" formControlName="bairro" required
                                    pInputText />
                                <small id="bairro"
                                    *ngIf="form.controls['bairro'].hasError('required') && form.controls['bairro'].touched"
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_O_BAIRRO_</small>

                            </div>

                            <div class="p-field p-col">
                                <label for="complemento">{{'COMPLEMENTO' |translate}}</label>
                                <input id="complemento" type="text" name="complemento" formControlName="complemento"
                                    pInputText />
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="email">{{'EMAIL' |translate}}</label>
                                <input id="email" name="emailEmpresa" (blur)="blurFocusEmailEmpresa()"
                                    formControlName="emailEmpresa" type="text" required pInputText>
                                <small id="email"
                                    *ngIf="form.controls['emailEmpresa'].hasError('required') && form.controls['emailEmpresa'].touched"
                                    translate> FAVOR_INFORMAR_O_EMAIL_</small>
                                <small id="email"
                                    *ngIf="form.controls['emailEmpresa'].errors?.email && form.controls['emailEmpresa'].touched"
                                    class="mat-text-warn p-error" translate> VOCE_DEVE_INFORMAR_UM_EMAIL_VALIDO_</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="telefone">{{'TELEFONE' |translate}}</label>
                                <input id="telefone" pInputText type="text" unmask="true" mask="(00) 00000-0000||(00) 0000-0000"
                                    placeholder="(99) 9999-9999" formControlName="telefoneEmpresa"/>
                            </div>
                            <div class="p-field p-col">
                                <label for="site">{{'SITE' |translate}}</label>
                                <input id="site" type="text" name="site" formControlName="site" pInputText />
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeIndex==1">
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">

                            <div class="p-field p-col">
                                <label for="nome">{{'NOME' |translate}}</label>
                                <input id="nome" formControlName="razaoSocialUsuario" type="text" required="true"
                                    pInputText />
                                <small id="nome"
                                    *ngIf="( form.controls['razaoSocialUsuario'].hasError('required') && form.controls['razaoSocialUsuario'].touched ) "
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_O_NOME</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="email">{{'EMAIL' |translate}}</label>
                                <input id="email" required name="email" (blur)="blurFocusEmailUsuario()"
                                    formControlName="email" type="text" pInputText />
                                <small id="email"
                                    *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_O_EMAIL_</small>
                                <small id="email" *ngIf="form.controls['email'].errors?.jaExiste" class="p-error">{{'JA_EXISTE_UM_USUARIO_COM_ESTE_EMAIL'|translate}}</small>
                                <small id="email"
                                    *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched"
                                    class="mat-text-warn p-error" translate>VOCE_DEVE_INFORMAR_UM_EMAIL_VALIDO_
                                </small>
                            </div>

                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="senha">{{'SENHA' |translate}}</label>
                                <p-password required formControlName="senha" weakLabel="Muito Fácil" mediumLabel="Boa" strongLabel="Excelente"
                                 promptLabel="Informe a senha"></p-password>
                                <small id="senha"
                                    *ngIf="form.controls['senha'].hasError('required') && form.controls['senha'].touched"
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_A_SENHA_</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="confirmar">{{'CONFIRME_A_SENHA' |translate}}</label>
                                <input id="confirmar" formControlName="confirmeSenha" type="password" required
                                    pInputText />
                                <small id="confirmar"
                                    *ngIf="form.controls['confirmeSenha'].hasError('required') && form.controls['confirmeSenha'].touched"
                                    class="mat-text-warn p-error" translate>FAVOR_INFORMAR_A_SENHA_</small>
                                <small id="confirmar"
                                    *ngIf="form.controls['confirmeSenha'].errors?.equalTo && form.controls['confirmeSenha'].touched"
                                    class="mat-text-warn p-error" translate>SENHAS_NAO_CONFEREM_</small>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="telefone-u">{{'TELEFONE' |translate}}</label>
                                <input id="telefone-u" pInputText type="text" unmask="true" mask="(00) 00000-0000||(00) 0000-0000"
                                    placeholder="(99) 9999-9999" formControlName="telefoneUsuario"/>
                            </div>
                            <div class="p-field p-col">
                                <label for="celular">{{'CELULAR' |translate}}</label>
                                <input id="celular-u" pInputText type="text" unmask="true" mask="(00) 00000-0000||(00) 0000-0000"
                                    placeholder="(99) 9999-9999" formControlName="celularUsuario"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeIndex == 2">
                    <div class="card">
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="plano">{{'PLANO' |translate}}</label>
                                <p-autoComplete formControlName="plano" [suggestions]="listaPlano"
                                    (completeMethod)="findPlanoPorNome($event.query)" field="nome"
                                    onselect="calcularTotal()" [dropdown]="true">
                                    <ng-template let-plano pTemplate="item">
                                        <div>{{plano.nome}}; {{plano.valor | currency:'BRL':'1.2-2'}}</div>
                                    </ng-template>
                                </p-autoComplete>
                                <small id="plano"
                                    *ngIf="form.controls['plano'].hasError('required') && form.controls['plano'].touched"
                                    class="p-error"> {{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="periodo">{{'PERIODO' |translate}}</label>
                                <p-autoComplete (blur)="validarData()" formControlName="periodo"
                                    [suggestions]="listaPeriodo" (completeMethod)="findPeriodoPorNome($event.query)"
                                    field="descricao" [dropdown]="true">
                                    <ng-template let-periodo pTemplate="item">
                                        <div>{{periodo.descricao}}</div>
                                    </ng-template>
                                </p-autoComplete>
                                <small id="periodo"
                                    *ngIf="form.controls['periodo'].hasError('required') && form.controls['periodo'].touched"
                                    class="p-error">
                                    {{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="valor">{{'VALOR_DO_PLANO' |translate}}</label>
                                <p-inputNumber formControlName="valor" inputId="valor" mode="currency"
                                currency="BRL" locale="pt-BR" (blur)="calcularTotal()">
                                </p-inputNumber>
                            </div>
                            <div class="p-field p-col">
                                <label for="valor">{{'VALOR_POR_PLAYER' |translate}}</label>
                                <p-inputNumber formControlName="valor2" inputId="valor2" mode="currency"
                                currency="BRL" locale="pt-BR" (blur)="calcularTotal()">
                                </p-inputNumber>
                            </div>
                            
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="numeroUsuario">{{'NUMERO_DE_USUARIOS' |translate}}</label>
                                <p-inputNumber formControlName="numeroUsuario" mode="decimal" [showButtons]="true"
                                    inputId="numeroUsuario" [min]="1" [max]="100" required>
                                </p-inputNumber>
                                <small id="numeroUsuario-error" *ngIf="form.controls['numeroUsuario'].invalid"
                                    class="p-error">{{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>
                            <div class="p-field p-col">
                                <label for="numero2">{{'NUMERO_DE_PLAYERS' |translate}}</label>
                                <p-inputNumber formControlName="numero2" mode="decimal" [showButtons]="true"
                                    inputId="numero2" [min]="1" [max]="100" required>
                                </p-inputNumber>
                                <small id="numero2-error" *ngIf="form.controls['numero2'].invalid"
                                    class="p-error">{{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col">
                                <label for="diavencimento">{{'DIA_VENCIMENTO' |translate}}</label>
                                <p-inputNumber formControlName="diaVencimento" mode="decimal" [showButtons]="true"
                                    inputId="diavencimento" (blur)="validarDiaVencimento()" [min]="1" [max]="31"
                                    required>
                                </p-inputNumber>
                                <small id="diavencimento" *ngIf="form.controls['diaVencimento'].invalid"
                                    class="p-error">{{'CAMPO_OBRIGATORIO' | translate}}</small>
                            </div>

                            <div class="p-field p-col">
                                <label for="inicio">{{'DATA_INICIO' |translate}}</label>
                                <p-calendar formControlName="dataInicio" [showIcon]="true" dateFormat="dd/mm/yy"
                                    appendTo="body" inputId="inicio"></p-calendar>
                            </div>

                            <div class="p-field p-col">
                                <label for="fim">{{'DATA_FIM' |translate}}</label>
                                <p-calendar autocomplete="off" type="text" formControlName="dataFim"
                                    dateFormat="dd/mm/yy" appendTo="body" disabled>
                                </p-calendar>
                            </div>
                            <div class="p-field p-col">
                                <label for="total">{{'VALOR_TOTAL' |translate}}</label>
                                <p-inputNumber autocomplete="off" formControlName="valorTotal" inputId="total"
                                    mode="currency" currency="BRL" locale="pt-BR" [disabled]="true">
                                </p-inputNumber>
                                <small id="total-error" *ngIf="form.controls['valorTotal'].invalid"
                                    class="p-error">{{'CAMPO_OBRIGATORIO'| translate}}</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</app-pagecadastro>