@mixin page-ambiente-novo-theme($theme) {
    $primary: map-get($theme, primary);
    .conteudo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        .idioma {
            padding-top: 10px;
        }
        .btn {
            position: absolute;
            left: 88%;
            bottom: 0;
            margin-bottom: 3%;
        }
        .p-p-4{ 
            padding-bottom: 0rem !important;
        
        }
    }
}