<div class="gridpesquisa slide rd-h-100" #page>
    <p-card class="box box-stretched rd-h-100">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-pl-4 p-pt-4 p-pr-4">
                <div class="p-card-title p-d-flex p-flex-row">
                    <div class="p-col">{{nomeTela | translate}}</div>
                    <div class="p-col p-d-flex p-flex-row p-ai-start">
                        <div class="p-d-flex p-ml-auto p-flex-row-reverse p-ai-center">  
                            <button pButton pRipple type="button" icon="{{'pi ' + direito.icone}}" 
                                class="p-button-rounded p-mr-1" 
                                [ngClass]="{'p-button-outlined' : direito.posicao != 1, 'primary-button-header' : direito.posicao == 1}"
                                label="{{'' | translate}}" 
                                tabindex="{{direito.posicao}}" 
                                title="{{direito.nome | translate}}" 
                                *ngFor="let direito of direitos" 
                                (click)="onClickButton(direito)">
                            </button>
                        </div>
                    </div>
                </div>
                <p-messages></p-messages>
            </div>
        </ng-template>
    
        <div class="p-d-flex p-flex-column rd-h-100">

            <div class="p-d-flex p-flex-row">
                <div class="p-col">
                    <div class="p-inputgroup">
                        <input pInputText class="rd-w-100" type="text" placeholder="Pesquisar" [(ngModel)]="valor1" (keypress)="onKeyPress($event)"/>
                        <button type="button" pButton pRipple icon="pi pi-times" class="p-button-secondary" (click)="valor1 = ''"></button> 
                    </div>
                    
                </div>
                <div class="p-col-fixed">
                    <p-button  (click)="onCliclPesquisar()">
                        <i *ngIf="mostrapesquisa" class="pi pi-search"></i>
                    </p-button> 
                </div>
            </div>

            <div class="p-d-flex p-flex-column rd-h-100 p-mt-2" id="print-section"  #divTable> 
                <p-table #pTable  selectionMode="single" [(selection)]="selection" [value]="dataSource" 
                    [scrollable]="true" [scrollHeight]="'flex'" [style]="{width:'100%'}" >
                    <ng-template pTemplate="header">
                        <tr >
                            <th *ngFor='let coluna of colunas' [ngStyle]="{'width': coluna.width + 'px'}">
                                {{coluna.name |translate}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item" (dblclick)="onRowSelect(item)">
                            <td *ngFor='let coluna of colunas' [ngStyle]="{'width': coluna.width + 'px'}" class="grid-cell">
                                <div *ngIf="coluna.tipo.toUpperCase() == 'STRING'" translate>{{item[coluna.prop]}}</div>
                                <div *ngIf="coluna.tipo.toUpperCase() == 'INTEGER' || coluna.tipo.toUpperCase() == 'LONG'" translate>{{item[coluna.prop]}}</div>
                                <div *ngIf="coluna.tipo.toUpperCase() == 'DECIMAL' || coluna.tipo.toUpperCase() == 'DOUBLE'" translate>{{item[coluna.prop]|currency:coluna.mascara}}</div>
                                <div *ngIf="coluna.tipo.toUpperCase() == 'BOOLEAN'" translate>{{item[coluna.prop] == true ? 'SIM':'NAO'}}</div>
                                <div *ngIf="coluna.tipo.toUpperCase() == 'TIMESTAMP'" translate>{{item[coluna.prop] | date: coluna.mascara}}</div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                
                
            </div>   
        </div> 
    </p-card>
</div>
<div class="loading">
</div>