<div class="gridpesquisa slide" #page>
    <p-card class="box rd-col rd-flex box-stretched" [header]="nomeTela | translate">
    <p-toolbar color="primary" class="rd-flex rd-row ">
        <div class="rd-row rd-flex">
            <input pInputText class="rd-flex p-mr-2" type="text" placeholder="Pesquisar"/>
        </div>
        <div class="rd-row">
            <p-button  (click)="onCliclPesquisar()">
                <!-- <i *ngIf="!mostrapesquisa" class="pi pi-arrow-down"></i> -->
                <i *ngIf="mostrapesquisa" class="pi pi-search"></i>
            </p-button> 
            <p-divider class="dividir" *ngIf="direitos?.length > 0" layout="vertical"></p-divider>            
            <p-button class="p-mr-2" label="{{direito.nome | translate}}" tabindex="{{direito.posicao}}" title="{{direito.nome | translate}}" *ngFor="let direito of direitos " (click)="onClickButton(direito)">
                
            </p-button>
        </div>
    </p-toolbar>
    <div *ngIf="mostrapesquisa" class="pesquisa-container">
    </div>
    <div class="grid-container" id="print-section"  #table>
        <p-table #dataTable selectionMode="single" [(selection)]="selection" [value]="dataSource">
            <ng-template pTemplate="header">
                <tr >
                    <th *ngFor='let coluna of colunas' [ngStyle]="{'width': coluna.width + '%'}">
                        {{coluna.name |translate}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pSelectableRow]="item">
                    <td *ngFor='let coluna of colunas' [ngStyle]="{'width': coluna.width + '%'}">
                        <span *ngIf="coluna.tipo.toUpperCase() != 'timestamp'.toUpperCase()" translate>{{item[coluna.prop]}}</span>
                        <span *ngIf="coluna.tipo.toUpperCase() == 'timestamp'.toUpperCase()" translate>{{item[coluna.prop] | date: coluna.mascara}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        
    </div>    
    </p-card>
</div>
<div class="loading">
</div>