
@mixin gridpesquisa($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
  
    app-grid-pesquisa {
        width: 100%;
        flex: auto;
        display: flex;
        flex-direction: column;
        // height: 100%;
        .gridpesquisa{
            display: flex;
            flex-direction: column;
            flex: auto;
            .p-card{
                flex: auto;
                display: flex;
                flex-direction: column;
            }
            .grid-container{
                flex: 1;
            }
        }
        .p-toolbar{
            flex: 1;
        }

        .item-image {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
