<app-pagecadastro  [config]="config" (save)="salvar($event)" [form]="form">
    <div class="page-noticia-cadastro rd-flex rd-col rd-gap-8">
        <div class="rd-col rd-flex rd-gap">
            <div class="div-edicao rd-flex rd-col">
                <form [formGroup]="form">
                    <div class="rd-flex rd-col ">
                        <div class="p-field rd-col">
                            <label for="nome" translate>NOME</label>
                            <input id="nome" required formControlName="nome" type="text" pInputText>                     
                            <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div> 
                        <!-- <div class="p-field rd-col">
                            <label for="url" translate>URL</label>
                            <input id="url" required formControlName="url" type="text" pInputText>                     
                        </div>  -->
                    </div> 
                </form>      
            </div>
        </div>    
    </div>            
</app-pagecadastro>