<app-pagecadastro  [config]="config" (save)="salvar($event)" [form]="form">
    <div class="page-noticia-cadastro rd-flex rd-col rd-gap-8">
        <div class="rd-col rd-flex rd-gap">
            <div class="div-edicao rd-flex rd-col">
                <form [formGroup]="form">
                    <div class="rd-flex rd-col ">
                        <div class="p-field rd-col">
                            <label for="titulo" translate>TITULO</label>
                            <input id="titulo" required formControlName="titulo" type="text" pInputText>                     
                            <small id="titulo-error" *ngIf="form.controls['titulo'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div> 
                        <div class="p-field rd-col">
                            <label for="link" translate>LINK</label>
                            <input id="link" required formControlName="link" type="text" pInputText>                     
                            <small id="link-error" *ngIf="form.controls['link'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div> 
                        <div class="p-field rd-col">
                            <label for="descricao" translate>DESCRICAO</label>
                            <textarea id="descricao" [rows]="25" required formControlName="descricao" type="text" pInputTextarea></textarea>                     
                            <small id="descricao-error" *ngIf="form.controls['descricao'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>                         
                    </div> 
                </form>      
            </div>
        </div>    
    </div>            
</app-pagecadastro>