<div class="content-display rd-col">
    <div #imageContainer class="conteiner">
        <div class="panel">
            <div class="content">  
                <img class="view" *ngIf="_conteudoResult?.tipo != 1 && _conteudoResult?.url != null" [src]="_conteudoResult?.url">
                <video class="view" controls autoplay [height]="imageHeight" [muted]="_conteudoResult.audio == 1" *ngIf="_conteudoResult?.tipo == 1"  >
                    <source *ngIf="arquivo" [src]="arquivo?.url" type="video/mp4">
                        Seu navegador não suporta este vídeoe.
                </video>              
                <div id="campos-container" class="campos-container" *ngIf="campos.length > 0">
                    <div [id]="campo.hash" class="div-campo" *ngFor="let campo of campos">
                        <div [ngSwitch]="campo.tipo" class="drag-content " [ngStyle]="{'text-align':campo.alinhamento}">
                            <div *ngSwitchCase="3" [ngStyle]="{
                                'font-family': campo.fonte,
                                'font-size': campo.fonteTamanho + 'px',
                                'text-align':campo.alinhamento,
                                'font-weight': campo.fonteEspessura,
                                'color': campo.fonteCor
                            }">{{campo.valor }}</div>
                            <!-- | number:'1.2-2' -->
                            <img *ngSwitchCase="4" [ngStyle]="{
                                'font-family': campo.fonte,
                                'font-size': campo.fonteTamanho + 'px',
                                'font-weight': campo.fonteEspessura,
                                'color': campo. fonteCor,
                                'text-align':campo.alinhamento,
                                'width':campo.resolucaoImagem+'px'
                            }" [src]="campo.valor">
                            <div *ngSwitchCase="5" [ngStyle]="{
                                'font-family': campo.fonte,
                                'font-size': campo.fonteTamanho + 'px',
                                'text-align':campo.alinhamento,
                                'font-weight': campo.fonteEspessura,
                                'color': campo.fonteCor
                            }">{{campo.valor}}</div>
                            <div *ngSwitchCase="7" [ngStyle]="{
                                'font-family': campo.fonte,
                                'font-size': campo.fonteTamanho + 'px',
                                'text-align':campo.alinhamento,
                                'font-weight': campo.fonteEspessura,
                                'color': campo.fonteCor
                            }">{{campo.nome}}</div>
                            <div *ngSwitchDefault [ngStyle]="{
                                'font-family': campo.fonte,
                                'font-size': campo.fonteTamanho + 'px',
                                'text-align':campo.alinhamento,
                                'font-weight': campo.fonteEspessura,
                                'color': campo.fonteCor
                            }">{{campo.valor}}</div>
                        </div>                        
                        <div *ngIf="campo.tipo != 7" class="drag-content " >
                            
                        </div>
                    </div>        
                </div>
                
            </div>
            </div>
        </div>
        
    <!-- <div class="view ">
    
    </div> -->
    <!-- <div class="div-footer">
        Desenvolvido por nós!
    </div> -->
</div>