
@mixin conteudo-display($theme) {
    
    app-conteudo-display{   
        background: black;

        p.dialog, .p-dialog-content{
            overflow: hidden;
            background: black;
            color: #212529;
            padding: 0.5rem;
        }
       .view{
            max-height: 600px;
            max-width: 700px;
            min-width: 400px;
            min-height: 400px;
            background-size: cover;
            height: 500px;
            width: 100%;
        }
        .div-footer{
            
        }
    }
}