@mixin app-panel-player($theme) {
    
    app-panel-player{
        height: 100%;
        display: flex;

        .pagina {
            flex: auto;
            display: flex;
            .lado {
                // height: 100%;
                flex: auto;

                // p-card .p-card {
                //     height: 100%;
                // }
            }
        }
    }
}
