<app-pagecadastro #pageCadastro [config]="config" [form]="form" (save)="salvar($event)">
    <div class="page-fontenoticia-cadastro rd-flex rd-col rd-gap-8">
        <div class="rd-col rd-flex rd-gap">
            <p-tabView>
                <p-tabPanel header="{{'DADOS_DA_FONTE'|translate}}" translate>
                    <div class="div-edicao rd-flex rd-col">
                        <form [formGroup]="form">
                            <div class="rd-flex rd-col ">
                                <div class="p-field rd-col">
                                    <label for="nome" translate>NOME<span class="obrigatorio">*</span> </label>
                                    <input id="nome" formControlName="nome" type="text" pInputText>
                                    <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                </div> 
                                <div class="p-field rd-col">
                                    <label for="url" translate>URL</label>
                                    <input id="url" required formControlName="url" type="url" pInputText >
                                    <small id="url" *ngIf="form.controls['url'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                </div> 
                                <div class="p-field rd-col">
                                    <label for="codificacao" translate>CODIFICACAO</label>
                                    <input id="codificacao" required formControlName="codificacao" type="text" pInputText>                                    
                                    <small id="codificacao" *ngIf="form.controls['codificacao'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                </div>
                                <div class="p-field rd-col">
                                    <label for="contentType" translate>CONTENT_TYPE</label>
                                    <input id="contentType" required formControlName="contentType" type="text" pInputText>                                    
                                    <small id="contentType-erro" *ngIf="form.controls['contentType'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                </div>
                                <div class="p-field rd-col">
                                    <label for="template" translate>TEMPLATE</label>
                                    <p-autoComplete formControlName="template" class="rd-flex p-field"
                                    [suggestions]="templates" (completeMethod)="pesquisarTemplate($event.query)" field="nome" [dropdown]="true">
                                        <ng-template let-template pTemplate="item">
                                            <div>{{template.nome}} </div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <small id="template" *ngIf="form.controls['template'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                </div>  
                            </div> 
                        </form>      
                    </div>
                </p-tabPanel>
                <p-tabPanel header="{{'EDITORIAS' |translate}}" translate>
                    <div class="div-edicao rd-flex rd-col">
                        <form [formGroup]="formEditoria">
                            <div class="rd-flex rd-col ">
                                <div class="p-field rd-col">
                                    <label for="editNome" translate>NOME</label>
                                    <input id="editNome" required formControlName="nome" type="text" pInputText>
                                    <small id="editNome-Error" *ngIf="formEditoria.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                </div> 
                                <div class="p-field rd-row rd-gap-8">
                                    <div class="p-field rd-col rd-flex">
                                        <label for="editUrl" translate>URL</label>
                                        <input id="editUrl" required formControlName="url" type="url" pInputText>
                                        <small id="editUrl-error" *ngIf="formEditoria.controls['url'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                                    </div>                                  
                                    <div class="btn-adicionar">                                        
                                        <button pButton class="p-mr-2" type="button" icon="pi pi-plus" label="ADICIONAR" translate (click)="adicionar($event)"></button>
                                    </div>
                                </div>
                            </div> 
                        </form>  
                        <p-table [value]="editorias" [scrollable]="true" scrollHeight="100%">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th translate style="width: 50%;">NOME</th>
                                    <th translate style="width: 30%;">URL</th>
                                    <th translate style="width: 20%;">ACOES</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-edit>
                                <tr>
                                    <td>{{edit.nome}}</td>
                                    <td>{{edit.url}}</td>
                                    <td style="text-align: end;">
                                        <button type="button" class="p-mr-2" title="{{'EDITAR'|translate}}"  pButton pRipple icon="pi pi-pencil" (click)="alterarEditoria(edit)"></button>
                                        <button type="button" class="p-mr-2" title="{{'EXCLUIR'|translate}}"  pButton pRipple icon="pi pi-trash" (click)="excluirEditoria(edit)"></button>
                                        <button *ngIf="edit?.id != null" type="button" class="p-mr-2" title="{{'ATUALIZAR_NOTICIAS'|translate}}"  pButton pRipple icon="pi pi-refresh" 
                                            (click)="atualizarEditoria(edit)"></button>
                                        <button *ngIf="edit?.id != null" type="button" class="p-mr-2" title="{{'VISUALIZAR'|translate}}"  pButton pRipple icon="pi pi-eye" 
                                        (click)="visualizarUltimas(edit)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>    
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>    
    </div>
</app-pagecadastro>
