@mixin page-configuracao-fontenoticia-cadastro($videotheme) {
 
    app-fontenoticia-cadastro {
        height: 100%;
        .p-card, p-card{
            flex: auto;
            display: flex;
            flex-direction: column;
            .p-autocomplete {
                display: flex;
            }  

        }
        .btn-adicionar{
            margin-top: 26px;
        }
    }
}