<div class="rd-col rd-over-hidden">
    <div class="div-header">
        <div class="rd-flex"><h2>Lista de Conteúdos da Campanha</h2></div>
        <button pButton styleClass="p-button-secondary" class="p-mr-2" type="button" label="CANCELAR" translate (click)="cancelar()"></button>
        <button pButton class="p-mr-2" type="button" icon="pi pi-plus" label="SALVAR" translate (click)="salvar()"></button>
    </div>
    <div class="rd-row rd-over-hidden">        
        <div class="rd-row rd-flex rd-over-hidden">
            <div class="div-menu">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input" translate>OPCOES</label>
                </span>
                <div *ngFor="let item of tipoConteudos">
                    <div class="item-menu" [ngClass]="{'selected':item.id == tipoConteudo?.id }" (click)="filtrarTipo(item)">{{item.nome}}</div>
                </div>
            </div>
            <div class="rd-flex pesquisa-list">
                <div class="div-filtro"> </div>
                <div pDraggable="conteudo" (onDragStart)="dragStart(conteudo)" (onDragEnd)="dragEnd($event)" *ngFor="let conteudo of conteudos">
                    <app-conteudo-row [conteudo]="conteudo" [exibiBtnAlterar]="false" [exibiBtnExcluir]="false" [exibiBtnVisualizar]="true" [exibiBtnClonar]="false"> 
                    </app-conteudo-row>
                </div>
            </div>
        </div>
        <div class="rd-col rd-flex rd-over-hidden">
            <p-orderList  pDroppable="conteudo" (onDrop)="drop($event)"  class="rd-h-100" [value]="listaConteudo" header="{{'CONTEUDOS'|translate}}" [dragdrop]="true" controlsPosition="right">
                <ng-template let-itemList let-index="index" pTemplate="item">
                    <div class="rd-row">
                        <div class="order-index">{{index + 1}}</div>
                        <app-conteudo-row [conteudo]="itemList.conteudo" 
                            [exibiBtnAlterar]="false" [exibiBtnExcluir]="true" [exibiBtnVisualizar]="true" [exibiBtnClonar]="false">
                        </app-conteudo-row>
                    </div>
                </ng-template>
            </p-orderList>
        </div>
    </div>    
</div>    