<div class="rd-col">
    <div class="rd-row ">
        <div class="rd-row rd-flex">
            <div class="div-menu">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input" translate>OPCOES</label>
                </span>
                <div *ngFor="let item of tipoConteudos">
                    <div class="item-menu" [ngClass]="{'selected':item.id == tipoConteudo?.id }" (click)="filtrarTipo(item)">{{item.nome}}</div>
                </div>
            </div>
            <div class="rd-flex pesquisa-list">
                <div class="div-filtro"> </div>
                <div class="title-conteudo" >
                    {{tipoConteudo?.nome}}
                </div>
                <div class="rd-col rd-gap-8" *ngFor="let conteudo of conteudos">
                    <app-conteudo-row pDraggable="conteudo" (onDragStart)="dragStart(conteudo)" (onDragEnd)="dragEnd($event)" [conteudo]="conteudo"
                        [exibiBtnAlterar]="false" [exibiBtnExcluir]="false" [exibiBtnVisualizar]="false" [exibiBtnArquivo]="false"> 
                    </app-conteudo-row>
                </div>
            </div>
        </div>
        <div class="rd-col rd-flex">
            <p-orderList  pDroppable="conteudo" (onDrop)="drop($event)"  class="rd-flex rd-col" [value]="listaConteudo" header="{{'CONTEUDOS'|translate}}" [dragdrop]="true" controlsPosition="right">
                <ng-template let-itemList pTemplate="item">
                    <app-conteudo-row [conteudo]="itemList.conteudo" 
                        [exibiBtnAlterar]="false" [exibiBtnExcluir]="true" [exibiBtnVisualizar]="false" [exibiBtnArquivo]="false">
                     </app-conteudo-row>
                </ng-template>
            </p-orderList>
        </div>
    </div>
    <div class="div-footer">
        <button pButton class="p-mr-2" type="button" icon="pi pi-plus" label="SALVAR" translate (click)="salvar()"></button>
    </div>
</div>    