@mixin app-dialog-conteudo-playlist($videotheme) {
 
    app-conteudo-dialog-playlist {
        overflow: hidden;
        min-height: 400px;
        height: 600px;
        display: flex;
        flex-direction: column;            
        max-height: 800px;

        .p-dialog{
            display: flex;
            flex-direction: column;            

        }
        .p-dialog-content{
            flex: 1;
            padding: 0px !important;
            overflow: hidden;
        }
        .div-menu{
            min-width: 200px;
            background: black;
            border-radius: 5px;
            height: 100%;
            padding: 12px;
            
            .item-menu{
                color: white;
                font-weight: 400;
                margin: 16px;
                font-size: 14;
                cursor: pointer;
            }
            .item-menu.selected {
                background: map-get($theme, light);
                font-weight: 800;
                margin: 8px;
                padding: 8px;
                border-radius: 5px;
            }
        }
        .pesquisa-list{
            margin-left: 8px;
            margin-right: 8px;
            overflow: auto;
            // .div-filtro{
            //     text-align: end;
            // }

        }
        
        .p-orderlist{
            height: 100%;            
            .p-orderlist-list-container{
                height: 100%;

                .p-orderlist-list{
                    height: calc(100% - 50px);
                    max-height: max-content !important; 
                }
                .order-index{
                    margin-right: 8px !important;
                    top: 0px;
                    bottom: 0px;
                    margin: auto;
                }

            }
        }
        .div-header{            
            display: flex;
            h2{
                margin: auto;
            }
            margin-bottom: 4px;            
        }
    }
    :host {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0px !important;
        overflow: hidden !important;
    }
}