<p-dialog header="{{'CONTEUDOS'|translate}}" maximizable="true" [(visible)]="display" [style]="{width: '70vw', height:'80vh'}">
    <ng-template pTemplate="header">
        {{'VINCULE_OS_CONTEUDOS_NA_PLAYLIST' |translate }}
    </ng-template>
    
    <div class="rd-row ">
        <div class="rd-row rd-flex">
            <div class="div-menu">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input" translate>OPCOES</label>
                </span>
                <div *ngFor="let item of tipoConteudos">
                    <div class="item-menu" [ngClass]="{'selected':item.id == tipoConteudo?.id }" (click)="filtrarTipo(item)">{{item.nome}}</div>
                </div>
            </div>
            <div class="rd-flex pesquisa-list">
                <div class="div-filtro"> </div>
                <div class="title-conteudo" >
                    {{tipoConteudo?.nome}}
                </div>
                <div class="item-conteudo rd-row" pDraggable="conteudo" *ngFor="let conteudo of conteudos">
                    <div class="view" *ngIf="conteudo.idTipoConteudo == 1 || conteudo.idTipoConteudo == 2 " [ngStyle]="{'background':'url(' + conteudo.url +')'}">

                    </div>
                    <div class="rd-col rd-flex">
                        <div class="rd-flex">
                            {{conteudo.titulo}}
                        </div>
                        <div class="rd-row rd-gap">
                            <span>{{conteudo.data |date:'dd/MM/yyyy'}}</span>
                            <div class="rd-flex"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rd-col rd-flex">
            <p-orderList  pDroppable="conteudo" class="rd-flex rd-col" [value]="listaConteudo" header="{{'CONTEUDOS'|translate}}" [dragdrop]="true" controlsPosition="right">
                <ng-template let-conteudo pTemplate="item">
                    <div>
                        {{conteudo.nome}}
                    </div>
                </ng-template>
            </p-orderList>
        </div>
    </div>
    <div class="div-footer">
        <button pButton class="p-mr-2" type="button" icon="pi pi-plus" label="SALVAR" translate (click)="salvar()"></button>
    </div>
</p-dialog>