@mixin template-noticia-conteudo($videotheme) {
 
    app-template-noticia-conteudo {
        height: 100%;
        display: flex;
        flex:1;
        .app-page-cadastro{
            .p-card-body{
                display: flex;
            }
            .p-card-content{
                display: flex;
                flex: 1;
                flex-direction: column;
                .label-field{
                    line-height: 20px;
                    white-space: nowrap;
                    margin: 8px;
                    margin-left: 0px;
                }
                .input-tempo{
                    width: 70px;
                } 
            }
            .grid-fonte{
                display: grid;
                grid-template-columns: repeat(2fr);
                gap: 8px;
            }
            .fonte{
                width: 100%;
                border:1px solid #ced4da;
                border-radius: 4px;
                .header {
                    padding: 16px;
                    background-color: white;
                }    
                .p-listbox{
                    flex: 1;
                }       
            }
        }
        
    }
}