<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_NOTICIA', btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
        <form [formGroup]="form" class="rd-flex rd-col">
            <div class="rd-flex rd-col ">
                <div class="rd-flex p-field rd-row rd-gap-8">
                    <p-tree [value]="fontes" selectionMode="checkbox" [(selection)]="selectedFontes"
                            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"></p-tree>
                </div>
                <div class="p-field rd-col">
                    <label for="titulo" translate>FILTROS</label>
                    <input id="titulo" formControlName="filtroAssuntos" type="text" pInputText>                     
                </div>
                <div class="tempo rd-row rd-gap">
                    <label class="label-field">Tempo de exibição</label>
                    <span class=" rd-row">                
                        <input id="minutos" class="input-tempo" formControlName="minutos" min="0"  type="number" pInputText>                         
                        <label class="label-field" for="minutos" translate>&nbsp; MINUTOS</label>
                    </span>
                    <span class=" rd-row">                
                        <input id="segundos" type="number" min="0" max="60" formControlName="segundos" class="input-tempo" pInputText>                         
                        <label class="label-field" for="segundos" translate>&nbsp;SEGUNDOS</label>
                    </span>
                </div>
            </div> 
        </form>     
    </ng-template>
</app-pagecadastro-conteudo>