@mixin template-noticia-conteudo($videotheme) {
 
    app-template-noticia-conteudo {
        height: 100%;
        flex:1;
        .app-page-cadastro{
            .p-card-body{
                display: flex;
            }
            .p-card-content{
                display: flex;
                flex: 1;
                flex-direction: column;
                .label-field{
                    line-height: 20px;
                    white-space: nowrap;
                    margin: 8px;
                    margin-left: 0px;
                }
                .input-tempo{
                    width: 70px;
                } 
            }
            p-tree{
                width: 100%;
            }
            .p-tree{
                height: 100%;
            }
            .div-form{
                margin-bottom: 45px;
            }
            .assunto{
                margin: 8px;
            }
            .i-add{
                margin: auto;
                padding: 4px;
            }
            .input-tempo{
                width: 70px;
            }
        }
        
    }
}