<div class="template-noticia-conteudo rd-flex rd-col rd-gap-8">
    <div class="">
        <button pButton  type="button" label="NOVO_CONTEUDO" ></button>
    </div>
    <div>
        <p-messages></p-messages>
    </div>
    <div class="rd-row rd-flex rd-gap">
        <div class="div-edicao rd-flex rd-col">
            <form [formGroup]="form" class="rd-flex rd-col">
                <div class="rd-flex rd-col ">
                    <div class="rd-flex p-field rd-row rd-gap-8">
                        <div class="p-field rd-col fonte" *ngFor="let content of conteudoNoticias">
                            <div class=" header">
                                <label for="titulo" translate>&nbsp;{{content.fonte.nome}}</label>
                            </div>
                            <p-listbox class="rd-flex rd-col" [options]="content.editorias" [filter]="true" [checkbox]="true" [multiple]="true" [ngModelOptions]="{standalone: true}" 
                                [(ngModel)]="content.editoriasSelecionado" optionLabel="nome"></p-listbox>
                        </div>
                    </div>
                    <div class="p-field rd-col">
                        <label for="titulo" translate>FILTROS</label>
                        <input id="titulo" required formControlName="filtroAssuntos" type="text" pInputText>                     
                    </div>
                </div> 
            </form>     
        </div>
        <div class="acoes rd-col rd-gap">
            <app-register-action (onPreview)="preview()" (onPublicar)="publicar()" (onSalvar)="salvar()" [permiteImportar]="false">
        
            </app-register-action> 
        </div>      
    </div>    
</div>            



