@mixin pagecadastro-conteudo($theme) {
 
    pagecadastro-conteudo {
        height: 100%;
        display: flex;
        
        .rd-over-hidden{
            overflow: hidden;
        }
        
    }
}