<div class="conteudo-row p-d-flex p-flex-row">
    <div class="view p-col-3" *ngIf="conteudo.idTipoConteudo == 1 || conteudo.idTipoConteudo == 2 " [ngStyle]="{'background':'url(' + conteudo.url +')'}">
    
    </div>
    <div class="p-col-9">
        <div class="">
            {{conteudo.titulo}}
        </div>
        <div class="p-d-flex p-flex-row div-footer">
            <!-- {{conteudo.data |date:'dd/MM/yyyy'}}&nbsp;&nbsp; -->
            <div class="tempo">{{conteudo.tempoExibicao | tempoExibicao}}</div>
            <div class="p-d-flex p-col"></div>
            <button pButton pRipple type="button" *ngIf="exibiBtnAlterar" (click)="alterarConteudo(conteudo)" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" *ngIf="exibiBtnVisualizar" (click)="visualizarConteudo(conteudo)" icon="pi pi-desktop" class="p-button-rounded  p-button-text"></button>
            <button pButton pRipple type="button" *ngIf="exibiBtnArquivo" (click)="arquivoConteudo(conteudo)" icon="pi pi-file" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" *ngIf="exibiBtnExcluir" (click)="excluirConteudo(conteudo)" icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
        </div>
    </div>
</div>