<div class="conteudo-row p-d-flex p-flex-row">
    <div class="view p-col-3" [ngStyle]="{'background':'url(' + conteudo.url +')'}">
    
    </div>
    <div class="p-col-9">
        <div class="">
            {{conteudo.titulo}}
        </div>
        <div class="p-d-flex p-flex-row div-footer">
            <!-- {{conteudo.data |date:'dd/MM/yyyy'}}&nbsp;&nbsp; -->
            <div class="div-sound" *ngIf="conteudo.audio == 2">
                <i class="sound pi pi-volume-up" style="font-size: 1rem"></i>                
                <!-- <img class="sound" src="/assets/images/sound.png">-->
            </div> 
            <div class="tempo">{{conteudo.tempoExibicao | tempoExibicao}}</div>
            <div class="p-d-flex p-col"></div>
            <button pButton pRipple type="button" *ngIf="exibiBtnAlterar && conteudo.permiteEdicao" (click)="alterarConteudo(conteudo)" icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" *ngIf="exibiBtnVisualizar " (click)="visualizarConteudo(conteudo)" icon="pi pi-desktop" class="p-button-rounded  p-button-text"></button>
            <button pButton pRipple type="button" *ngIf="exibiBtnClonar" (click)="clonarConteudo(conteudo)" icon="pi pi-copy" class="p-button-rounded p-button-text"></button>
            <button pButton pRipple type="button" *ngIf="exibiBtnExcluir  && conteudo.permiteEdicao" (click)="excluirConteudo(conteudo)" icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
        </div>
    </div>
</div>