
@mixin conteudo-row($theme) {
    app-conteudo-row{ 
        padding: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 5px;
        background: map-get($theme, secondary);
        margin-bottom: 4px;
        margin-top: 4px;
        min-width: 350px;
        width: 100%;
        
        .conteudo-row{
            display: flex;
            flex-direction: row;
        }
                            
        .view{
            width: 120px;
            height: 70px;
            background: green;
            border-radius: 5px;
            margin-left: 8px;
            margin-right: 8px;
            border-width: 1px;
            border-style: solid;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background-position: center !important;                    
        }
    }
}