<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_PREVISAO_DO_TEMPO', btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
        <p-messages></p-messages>
        <form [formGroup]="form" class="rd-flex rd-col">
            <div class="rd-flex rd-col div-form">
                <div class="p-field rd-col">
                    <label for="cidade" translate>CIDADE</label>
                    <p-autoComplete formControlName="cidade" 
                        [suggestions]="cidades" (completeMethod)="pesquisarCidade($event.query)" field="nome" [dropdown]="true">
                        <ng-template let-cidade pTemplate="item">
                            <div>{{cidade.nome}} - {{cidade.uf}}</div>
                        </ng-template>
                    </p-autoComplete>
                    <small id="cidade" *ngIf="form.controls['cidade'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div>
                <div class="p-field rd-col">
                    <label for="template" translate>TEMPLATE</label>
                    <p-autoComplete formControlName="template" 
                        [suggestions]="templates" (completeMethod)="pesquisarTemplate($event.query)" field="nome" [dropdown]="true">
                        <ng-template let-template pTemplate="item">
                            <div>{{template.nome}} </div>
                        </ng-template>
                    </p-autoComplete>
                    <small id="template" *ngIf="form.controls['template'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div>
                <div class="tempo rd-row rd-gap" >                    
                    <span class=" rd-row">                
                        <label class="label-field" for="segundos">{{'EXIBICAO_EM_SEGUNDOS'|translate}}</label>
                        <input id="segundos" type="number" min="0"  formControlName="segundos" class="input-tempo" pInputText>                         
                    </span>
                </div>
                <app-panel-agendamento-conteudo #panelAgendamento>
        
                </app-panel-agendamento-conteudo> 
            </div> 
        </form>      
    </ng-template>
</app-pagecadastro-conteudo>
