<!-- <p-card header="Cadastro de template"> -->
<app-pagecadastro [config]="{titulo: 'Cadastro de template'}" class="p-d-flex p-flex-column" (save)="salvar()">
    <form class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-9">
            <label for="txtNome">{{'Nome' | translate}}</label>
            <input type="text" id="txtNome" pInputText [(ngModel)]="template.nome" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="p-field-checkbox p-col-3 p-mt-4">
            <p-checkbox [binary]="true" inputId="chkTodos" [(ngModel)]="template.todasEmpresas" [ngModelOptions]="{standalone: true}"></p-checkbox>
            <label for="chkTodos">{{'Todas as empresas' | translate}}</label>
        </div>
        <div class="p-field p-col-6 p-mt-4">
            <p-fileUpload #fileupload  mode="basic" cancelLabel="CANCELAR" chooseLabel="Adicionar imagem" [auto]="true"  
                name="filename" customUpload="true" (uploadHandler)="adicionarImagem($event)" ></p-fileUpload>
        </div>
        <div class="p-field p-col-6">
            <label for="txtTipoConteudo">{{'TIPO_CONTEUDO' | translate}}</label>
            <p-dropdown id="txtTipoConteudo" [(ngModel)]="template.idTipoConteudo" optionValue="id" optionLabel="nome" [options]="tiposConteudos" placeholder="{{'SELECIONE_UM_TIPO' | translate}}" [ngModelOptions]="{standalone: true}"></p-dropdown>
        </div>

        <div #imageContainer id="image-container" class="p-d-flex p-ml-2 p-mr-2 image-container" devImage [bgImage]="arquivo?.url" position="left top">
            
            <div [id]="campo.hash" class="dragdrop" cdkDragBoundary=".image-container" cdkDrag *ngFor="let campo of camposAdicionais" 
                (cdkDragMoved)="movendoCampo($event, campo)" [cdkDragFreeDragPosition]="campo.drag" 
                
                >
                <!-- [ngStyle]="{top: campo.positionLeft+'%', left: campo.positionTop+'%'}" -->
                <div class="drag-header p-d-flex p-ai-center" cdkDragHandle>
                    <div class="btnDrag"><mat-icon>open_with</mat-icon></div>
                    <div class="grad-name p-m-1">{{campo.nome}}</div>
                </div>
                <div class="drag-content" name="drag-content">
                    <p-inplace *ngIf="campo.tipo != 4" closable="closable">
                        <ng-template pTemplate="display">
                            <span 
                                [ngStyle]="{
                                    'font-family': campo.fonte,
                                    'font-size': campo.fonteTamanho + 'px',
                                    'font-weight': campo.fonteEspessura,
                                    'color': campo.fonteCor
                                }">
                                {{campo.valor}}
                            </span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <input type="text" [(ngModel)]="campo.valor" pInputText [ngModelOptions]="{standalone: true}">
                        </ng-template>
                    </p-inplace>
                    <div [id]="campo.hash+'-imagem'" class="campo-imagem" *ngIf="campo.tipo == 4" style="width: 150px; height: 150px;"
                        >
                        <div  devImage [file]="campo.file" style="width: 100%; height: 100%;" [ngStyle]="{'border-radius' : campo.imagemFormato == 2 ? '50%' : '0'}"></div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="p-field p-col-12 p-mt-2">
            <button type="button" class="p-button p-button-raised p-button-secondary rd-w-100 p-jc-center" (click)="adicionarCampo()">
                <i class="pi pi-plus p-mr-2"></i>
                <span>{{'ADICIONAR_CAMPO' | translate}}</span>
            </button>
        </div>
        <p-accordion class="p-col-12">
            <p-accordionTab *ngFor="let campo of camposAdicionais" [selected]="this.campoSelecionado?.hash == campo?.hash" (selectedChange)="selecionarCampo($event, campo)">
                <ng-template pTemplate="header">
                    {{campo.nome ? campo.nome : 'Campo'}}
                </ng-template>
                <ng-template pTemplate="content">
                    <!-- <div class="p-field p-mt-2 p-col-12 campo-container"> -->
                        <div class="p-d-flex">
                            <div class="p-field-checkbox p-col-6 p-mt-4">
                                <!-- <p-checkbox [binary]="true" inputId="chkCadastro" [(ngModel)]="campo.preenchimento" [ngModelOptions]="{standalone: true}" (onChange)="changeCadastro($event, campo)"></p-checkbox>
                                <label for="chkCadastro">{{'PREENCHIMENTO_AUTOMATICO' | translate}}</label> -->
                                <input class="p-checkbox" type="checkbox" name="chkCadastro" id="chkCadastro" value="false" [(ngModel)]="campo.preenchimento" [ngModelOptions]="{standalone: true}" (onChange)="changeCadastro($event, campo)">
                                <label class="label-nowrap" for="chkCadastro">{{'PREENCHIMENTO_AUTOMATICO' | translate}}</label>
                            </div>
                            <div class="p-field p-col-6" *ngIf="campo.preenchimento">
                                <label for="txtCampoTipo">{{'VARIAVEL' | translate}}</label>
                                <p-dropdown id="txtCampoTipo" [(ngModel)]="campo.variavel" optionValue="campo" [options]="template.idTipoConteudo == 3 ? variaveisNoticias : template.idTipoConteudo == 5 ? variaveisPrevisoes : []" placeholder="{{'SELECIONE_UMA_VARIAVEL' | translate}}" optionLabel="nome" (onChange)="changeVariavel($event, campo)" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                        </div>
                        <div class="p-d-flex">
                            <div class="p-field p-col-8" *ngIf="!campo.preenchimento">
                                <label for="txtCampoNome">{{'NOME' | translate}}</label>
                                <input type="text" id="txtCampoNome" pInputText [(ngModel)]="campo.nome" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="p-field" [ngClass]="{'p-col-12' : campo.preenchimento, 'p-col-4' : !campo.preenchimento}">
                                <label for="txtCampoTipo">{{'TIPO' | translate}}</label>
                                <p-dropdown id="txtCampoTipo" [(ngModel)]="campo.tipo" optionValue="cod" [options]="tipos" placeholder="{{'Selecione um tipo' | translate}}" optionLabel="name" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                        </div>
                        <div class="p-d-flex">
                            <div class="p-field p-col-3">
                                <label for="txtCampoFonte">{{'FONTE' | translate}}</label>
                                <p-dropdown id="txtCampoFonte" [(ngModel)]="campo.fonte" optionValue="name" [options]="fontes" placeholder="{{'Selecione uma fonte' | translate}}" editable="true" optionLabel="name" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                            <div class="p-field p-col-3">
                                <label for="txtCampoEspessura">{{'ESPESSURA' | translate}}</label>
                                <p-dropdown id="txtCampoEspessura" [(ngModel)]="campo.fonteEspessura" optionValue="value" [options]="espessuras" placeholder="{{'Selecione uma espessura' | translate}}" editable="true" optionLabel="name" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                            <div class="p-field p-col-3">
                                <label for="txtCampoFonteTamanho">{{'TAMANHO' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.fonteTamanho" mode="decimal" [showButtons]="true" inputId="txtCampoFonteTamanho" [min]="0" [max]="100" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-3 p-d-flex">
                                <div class="p-d-flex p-flex-column p-field">
                                    <label>{{'COR' | translate}}</label>
                                    <p-colorPicker [(ngModel)]="campo.fonteCor" [ngModelOptions]="{standalone: true}" format="hex"></p-colorPicker>
                                </div>
                                <div class="p-field p-col p-mt-4">
                                    <input type="text" id="txtCampoFonteCor" pInputText [(ngModel)]="campo.fonteCor" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                        <div class="p-d-flex">
                            <div class="p-field p-col-2">
                                <label class="label-nowrap" for="txtCampoWidth">{{'LARGURA' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.width" mode="decimal" inputId="txtCampoWidth" (onBlur)="setFieldWidth($event, campo)" [useGrouping]="false" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-2">
                                <label class="label-nowrap" for="txtCampoHeight">{{'ALTURA' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.height" mode="decimal" inputId="txtCampoHeight" (onBlur)="setFieldHeight($event, campo)" [useGrouping]="false" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-3">
                                <label class="label-nowrap" for="txtCampoLeft">{{'DISTANCIA_ESQUERDA' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.positionLeft" (keypress)="onKeyPress($event, campo)" (onBlur)="setDistancia(campo)" mode="decimal" inputId="txtCampoLeft" [minFractionDigits]="2" suffix="%" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-3">
                                <label class="label-nowrap" for="txtCampoTop">{{'DISTANCIA_TOPO' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.positionTop" (keypress)="onKeyPress($event, campo)" (onBlur)="setDistancia(campo)"  mode="decimal" inputId="txtCampoTop" [minFractionDigits]="2" suffix="%" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-2">
                                <label class="label-nowrap" for="txtCampoAngulo">{{'ANGULO' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.angulo" mode="decimal" inputId="txtCampoAngulo" [useGrouping]="false" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                        </div>
                        <!--CAMPOS PARA IMAGEM -->
                        <div class="p-d-flex" *ngIf="campo.tipo == 4">
                            <div class="p-field p-col-4">
                                <p-fileUpload #campofileupload  mode="basic" cancelLabel="CANCELAR" chooseLabel="Adicionar imagem" [auto]="true"  
                                    name="filename" customUpload="true" (uploadHandler)="campo.file = $event.files[0]" ></p-fileUpload>
                            </div>
                            <div class="p-field p-col-4">
                                <label for="txtCampoResolucao">{{'RESOLUCAO' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.resolucaoImagem" mode="decimal" inputId="txtCampoResolucao" [useGrouping]="false" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-4">
                                <label for="txtCampoFormato">{{'FORMATO' | translate}}</label>
                                <p-dropdown id="txtCampoFormato" [(ngModel)]="campo.imagemFormato" optionValue="cod" [options]="formatos" placeholder="{{'Selecione o formato' | translate}}" optionLabel="name" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            </div>
                        </div>
                        <!--CAMPOS PARA TEXTO -->
                        <div class="p-d-flex" *ngIf="campo.tipo == 1">
                            <div class="p-field p-col-6">
                                <label for="txtCampoLimite">{{'LIMITE' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.limite" mode="decimal" inputId="txtCampoLimite" [useGrouping]="false" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                            <div class="p-field p-col-6">
                                <label for="txtCampoLinhas">{{'LINHAS' | translate}}</label>
                                <p-inputNumber [(ngModel)]="campo.numeroLinhas" mode="decimal" inputId="txtCampoLinhas" [useGrouping]="false" [ngModelOptions]="{standalone: true}"></p-inputNumber>
                            </div>
                        </div>
                    <!-- </div> -->
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </form>
</app-pagecadastro>
<!-- </p-card> -->