@mixin page-template-cadastro($theme) {
    app-template-cadastro {
        flex: 0 0 auto;
        position: relative;
        height: 100%;


        .image-container {
            height: 400px;
            width: 100%;
            border: 1px solid var(--surface-d);
            border-radius: 4px;
            display: block !important;
            position: relative !important;
        }

        .dragdrop {
            height: fit-content;
            color: rgba(0, 0, 0, 0.87);
            display: inline-flex;
            // background: #fff;
            position: absolute;
            z-index: 1;
            // width: 140px;

            .drag-content {
                box-sizing: border-box;
                border: 1px dashed var(--surface-d);
                resize: both;
                overflow: auto;
                position: relative;
            }

            .p-inplace .p-inplace-display {
                padding: 0px;
            }

            .drag-header{
                position: absolute;
                transform: translateY(-30px);
                background-color: white;
                cursor: move;
            }

            .btnDrag {
                
                border-radius: 7px;
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-color-secondary);
                // right: 0;
                
            }

            .drag-title {
                position: absolute;
                transform: translateY(-30px);
            }

        }

        .campo-container {
            border: 1px solid var(--surface-d);
            border-radius: 4px;
            // border-style: dashed;
        }
    }
}