
@mixin app-panel-configuracao($theme) {
    
    app-panel-configuracao{
        height: 100%;

        .pagina {
            height: 100%;

            .lado {
                height: 100%;

                p-card .p-card {
                    height: 100%;
                }
            }
        }
    }
}
