
@mixin app-panel-configuracao($theme) {
    
    app-panel-configuracao{
        display: flex;
        flex-direction: column;
        flex: auto;

        .pagina {
            flex: auto;
            display: flex;
            .lado {
                // height: 100%;
                flex: auto;

                // p-card .p-card {
                //     height: 100%;
                // }
            }
        }
    }
}
