<div class="pagina p-d-flex p-m-4">
    <div class="lado p-mb-2 p-col-6">
        <router-outlet name="pesquisa"></router-outlet>
    </div>
    <div class="lado p-mb-2 p-col-6">
        <router-outlet name="cadastro"></router-outlet>
    </div>
</div>

<!-- <div class="rd-col rd-flex"> 
    <div class="p-d-flex p-flex-row">
        <div class="rd-col rd-flex">
            <div class="p-d-flex p-jc-end ">
                <span class="p-float-label field-busca">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input" >{{'BUSCAR'|translate}}</label>
                </span>
            </div>
            <div class="rd-row rd-flex pesquisa ">
                <div class="div-menu">
                    <span class="p-float-label">
                        <input id="float-input" type="text" [(ngModel)]="nomePlayer" pInputText> 
                        <label for="float-input" translate>CADASTROS</label>
                    </span>
                    <div *ngFor="let tel of telas">
                        <div class="item-menu" [ngClass]="{'selected':tel.id == grupoSelecionado?.id }" (click)="abrirGrupo(tel)">{{tel.nome}}</div>
                    </div>
                </div>
                <div class="rd-flex pesquisa-list">
                    <router-outlet></router-outlet>        
                </div>
            </div>
        </div>     
        <div class="rd-row rd-flex cadastro">
            <router-outlet name="cadastro"></router-outlet>
        </div>   
    </div>
</div> -->