<div class="app-page-cadastro rd-h-100">
    <!-- <p-toolbar class="barra-cadastro"> -->
    <p-card >   
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-pl-4 p-pt-4 p-pr-4">
                <div class="p-card-title p-d-flex p-flex-row">
                    <!-- <button pButton pRipple *ngIf="mostraVoltar" type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-text" (click)="voltar()"></button> -->
                    <div >{{config?.titulo | translate}}</div>
                    <div class="p-d-flex p-ml-auto">    
                        <button pButton label="{{'CANCELAR'|translate}}" class="p-button p-button-secondary p-mr-2 p-ml-auto" (click)="cancelar()"></button>
                        <p-button class="disabled-loading" label="{{'SALVAR' | translate}}" icon="pi pi-save" (click)="salvar()"></p-button>
                    </div>
                </div>
                <span fxFlex [translate]="config?.subTitle" [translateParams]="translateParams"></span>
                <p-messages></p-messages>
            </div>
        </ng-template>
        <!-- <ng-content select="[page-header]"></ng-content> -->
    <!-- </p-toolbar> -->
         
        <ng-content class="p-card-content rd-h-100">
            
        </ng-content>
        <ng-template pTemplate="footer" >        
            
        </ng-template>
    </p-card>
</div>    
