<div class="p-mb-2 p-mt-2">
    <p-button label="{{('NOVO'|translate ) + ' '+ (config.titulo |translate)}}" styleClass="p-button-secondary" (click)="novo()"></p-button>
</div>
<p-card class="app-page-cadastro p-d-flex p-flex-column rd-h-100" id="app-page-cadastro">   
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-pl-4 p-pt-4 p-pr-4">
                <div class="p-card-title p-d-flex p-flex-row">
                    
                    <div >{{config?.titulo | translate}}</div>
                    <div *ngIf="actions" class="p-d-flex p-ml-auto">    
                        <p-button label="{{'CANCELAR'|translate}}" styleClass="p-button-secondary" class="p-mr-2" (click)="cancelar()"></p-button>
                        <p-button [disabled]="_disabledSalvar" class="disabled-loading" label="{{'SALVAR' | translate}}" icon="pi pi-save" (click)="salvar()"></p-button>
                    </div>
                </div>
                <span fxFlex [translate]="config?.subTitle" [translateParams]="translateParams"></span>
                <p-messages></p-messages>
            </div>
        </ng-template>
        <ng-content class="p-card-content ">
        
        </ng-content>
            
        
    
        
    </p-card>
