<app-pagecadastro #pageCadastro [config]="config" (save)="salvar($event)" [form]="form">
    <div class="page-grupousuario-cadastro rd-flex rd-col rd-gap-8">
        <div class="rd-col rd-flex rd-gap">
            <div class="div-edicao rd-flex rd-col">
                <form [formGroup]="form">
                    <div class="rd-flex rd-col ">
                        <div class="p-field rd-col">
                            <label for="nome" translate>NOME</label>
                            <input id="nome" required formControlName="nome" type="text" pInputText>
                            <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>    
                        <div class="rd-flex rd-row ">
                            <div class="p-field rd-row rd-flex">                                
                                <p-colorPicker id="cor" formControlName="cor"></p-colorPicker>                    
                                <label class="lbl-cor" for="cor" translate>COR</label>
                            </div>
                            <div class="p-field rd-col p-mr-8 rd-flex">
                                <p-checkbox name="ativo" value="true" label="ATIVO" [(ngModel)]="grupoUsuario.ativo" [ngModelOptions]="{standalone: true}"></p-checkbox>
                            </div>
                        </div>
                        <div class="p-field rd-col">
                            <label for="descricao" translate>DESCRICAO</label>
                            <textarea pInputTextarea  rows="6" formControlName="descricao"></textarea>
                        </div>
                    </div> 
                </form>      
            </div>  
        </div>    
    </div>            
</app-pagecadastro>
