<app-pagecadastro #pageCadastro [config]="config" (save)="salvar($event)">
    <div class="page-equipamento-cadastro rd-flex rd-col rd-gap-8">
        <p-tabView>
            <p-tabPanel header="{{'DADOS'|translate}}" >
                <div class="div-edicao rd-flex rd-col">
                    <form [formGroup]="form">
                        <div class="rd-flex rd-col ">
                            <div class="p-field rd-col">
                                <label for="nome" translate>NOME</label>
                                <input id="nome" required formControlName="nome" type="text" pInputText>
                                <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                            </div> 
                            <div class="p-field rd-col">
                                <label for="identificador" translate>IDENTIFICADOR</label>
                                <input id="identificador" required formControlName="identificador" type="text" pInputText>
                                <small id="identificador" *ngIf="form.controls['identificador'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                            </div> 
                            <div class="p-field rd-col">
                                <label for="uuid" translate>UUID</label>
                                <input id="uuid" required formControlName="uuid" type="text" pInputText>        
                                <small id="uuid" *ngIf="form.controls['uuid'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>             
                            </div> 
                            <div class="p-field rd-col">
                                <label for="fornecedor" translate>FORNECEDOR</label>
                                <input id="fornecedor" required formControlName="fornecedor" type="text" pInputText>                     
                                <small id="fornecedor" *ngIf="form.controls['fornecedor'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                            </div> 
                            <div class="p-field rd-col">
                                <label for="dataCompra" translate>DATA_DA_COMPRA</label>
                                <p-calendar [showTime]="false" formControlName="dataCompra"  inputId="dataCompra"></p-calendar>
                                <small id="dataCompra" *ngIf="form.controls['dataCompra'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                            </div> 
                        </div> 
                    </form>      
                </div> 
            </p-tabPanel>    
            <p-tabPanel header="{{'PLAYERS'|translate}}" >
                <div class="rd-flex rd-col"> 
                    <p-table [value]="players" [scrollable]="true" scrollHeight="100%">
                        <ng-template pTemplate="header">
                            <tr>
                                <th translate>EMPRESA</th>
                                <th translate>IMPLANTACAO</th>
                                <th translate>REMOCAO</th> 
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-edit>
                            <tr>
                                <td>{{edit?.empresa.razaoSocial}}</td>
                                <td>{{edit.dataImplantacao | date:'dd/MM/yyyy HH:mm'}}</td>
                                <td>{{edit.dataRemocao| date:'dd/MM/yyyy HH:mm'}}</td>
                            </tr>
                        </ng-template>
                    </p-table>    
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>            
</app-pagecadastro>