@mixin page-configuracao-equipamento-cadastro($videotheme) {
 
    app-equipamento-cadastro {

        .page-equipamento-cadastro{
            display: flex;
            flex: auto;
            flex-direction: column;

            p-autocomplete {
                display: flex;
                span {
                    flex: 1;
                };
            }
            .p-calendar {
                display: flex !important;
            }
            .btn-adicionar{
                padding-top: 26px;
            }
        }
    }
}