
@mixin conteudo-display-dialog($theme) {
    
    app-conteudo-display-dialog{   
        background: black;

        p.dialog, .p-dialog-content{
            overflow: hidden;
            background: black;
            color: #212529;
            padding: 0.5rem;
        } 
        .div-footer{
            
        }
    }
}