<div class="painel-site rd-flex rd-col">
    <div class="row">
        <div class="div-marca">
            <div class="marca">
                Blink
            </div>
        </div> 
        <div class="menu-conteiner">
            <div class="item-menu selected">
                <span routerLink="conteudo" translate>CONTEUDOS</span>
            </div>
            <div class="item-menu">
                <span routerLink="publicacao" translate>PUBLICACOES</span>
            </div>
            <div class="item-menu">
                <span routerLink="player" translate>PLAYERS</span>
            </div>
            <div class="item-menu">
                <span routerLink="grupo" translate>GRUPOS</span>
            </div>
            <div class="item-menu">
                <span routerLink="relatorio" translate>RELATORIOS</span>
            </div>
            <div class="item-menu">
                <span routerLink="usuario" translate>USUARIOS</span>
            </div>
            <div class="item-menu">
                <span routerLink="ajuda" translate>AJUDA</span>
            </div>
        </div>
    </div>
    <div class="rd-col rd-flex">
        <router-outlet></router-outlet>
        <!-- <app-panel-conteudo class="rd-flex rd-col"></app-panel-conteudo> -->
    </div>
    
</div>
