@mixin painel-site-component($theme) {
 
    app-painel-site{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        // height: 100%;
        
        .painel-site {
            // margin-bottom: 1.5rem;
            width: 100%;
            display: flex; 
            flex-flow: column; 
            height: 100%;
            .p-dropdown {
                width: 100%;
                margin-right: 10px;
            }
            .header{
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
            }
            .painel-site-content {
                // flex: 1 1 auto;
                height: calc(100% - 60px);
            }
        }

        
        .div-marca{
            flex: 1;
            .marca{
                left: 2rem;
                top: 1rem;
                width: 150px;
                position: absolute;
                height: 80px;
                .img-logo{
                    // width: 300px ;
                    min-height: 50px;
                    height: 60px;
                    background-size: cover;
                }
            }
        }

        .menu-conteiner{
            flex: 0 1 auto;
            min-width: 600px;
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            padding-right: 25px;
            .p-dropdown {
                background: none!important; 
                border: none !important;
            }
            .p-inputtext{
                font-size: 1.2rem !important;
            }

            .item-menu {
                margin-left: 8px;
                margin-right: 8px;
                padding: 8px;
                height: 40px; 
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px;
                min-width: 70px;
                text-align: center;
                font-weight: normal;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                color: map-get($theme, black);
                text-transform: uppercase;
                cursor: pointer;
            }
            .item-menu.selected {
                background: map-get($theme , light);
                color: map-get($theme, white);

            }
        }
        
    }
}
//:host ::ng-deep 