<div class="painel-site">
    <div class="row">
        <div class="div-marca">
            <div class="marca">
                Blink
            </div>
        </div> 
        <div class="menu-conteiner">            
            <div class="item-menu " [ngClass]="{'selected':rotaSelecionada=='conteudo'}">
                <span routerLink="conteudo" (click)="navegar('conteudo')" translate>CONTEUDOS</span>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='publicacao'}">
                <span routerLink="publicacao"  (click)="navegar('publicacao')" translate>PUBLICACOES</span>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='player'}">
                <span (click)="navegar('player','admin/player/panel/(pesquisa:player-pesquisa//cadastro:player-cadastro)')" translate>PLAYERS</span>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='grupo'}">
                <span routerLink="grupo"  (click)="navegar('grupo')" translate>GRUPOS</span>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='relatorio'}">
                <span routerLink="relatorio"  (click)="navegar('relatorio')" translate>RELATORIOS</span>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='usuario'}">
                <span routerLink="usuario" (click)="navegar('usuario')"  translate>USUARIOS</span>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='configuracao'}" >
                <span (click)="navegar('configuracao');menu.toggle($event)"  translate>CONFIGURACAO</span>
                <p-menu #menu [popup]="true" [model]="itensConfiguracao"></p-menu>
            </div>
            <div class="item-menu" [ngClass]="{'selected':rotaSelecionada=='ajuda'}">
                <span routerLink="ajuda" (click)="navegar('ajuda')" translate>AJUDA</span>
            </div>
            <div>
                <p-avatar image="{{usuario?.foto}}"  size="large" (click)="menuUsuario.toggle($event)"></p-avatar>
                <p-menu #menuUsuario [popup]="true" [model]="itemsMenuUsuario"></p-menu>
            </div>
        </div>
    </div>
    <div class="painel-site-content">
        <router-outlet></router-outlet>
    </div>
    
</div>
