@mixin page-configuracao-tipoconteudo-pesquisa($videotheme) {
 
    app-tipoconteudo-pesquisa {
        height: 100%;
        display: flex;
        .label-field{
            line-height: 20px;
            white-space: nowrap;
            margin: 8px;
            margin-left: 0px;
        }
        .input-tempo{
            width: 70px;
        }
        .p-fileupload .p-fileupload-content{
            padding: 0px !important;
        }
        .p-fileupload{
            margin-bottom: 8px;
        }
        .div-edicao{
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: black;
            padding: 16px;
        }
        
    }
}