@mixin template-imagem-conteudo($theme) {
 
    app-template-imagem-conteudo {
        height: 100%;
        display: flex;
        
        .label-field{
            line-height: 20px;
            white-space: nowrap;
            margin: 8px;
            margin-left: 0px;
        } 
        .p-fileupload .p-fileupload-content{
            padding: 0px !important;
        }
        .arquivo {
            line-height: 40px;
            margin-left: 16px;
        }
        .p-fileupload{
            margin-bottom: 8px;
        }
        
        .image-container{
            width: 900px;
            height: 600px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
        }
        
    }
}