<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_IMAGEM', btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
            <p-messages></p-messages>
            <form [formGroup]="form">
                <div class="p-formgrid p-grid div-form">
                    <div class="p-field rd-col p-col-12">
                        <label for="titulo">Título</label>
                        <input id="titulo" required formControlName="titulo" type="text" pInputText>                     
                        <small id="titulo-error" *ngIf="form.controls['titulo'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                    </div>
                    <div class="p-field rd-row p-col-12">
                        <p-fileUpload #fileUpload mode="basic" cancelLabel="CANCELAR" [auto]="true" chooseLabel="ESCOLHER" uploadLabel="CARREGAR" 
                        name="filename" customUpload="true" (uploadHandler)="uploadFile($event)" 
                        accept="image/.png,.jpg,.jpeg"></p-fileUpload>
                        <div class="rd-flex arquivo">{{arquivo?.nome}}</div>                        
                    </div> 
                    <div class="tempo rd-row rd-gap p-col-12">                    
                        <span class=" rd-row">                
                            <label class="label-field" for="segundos">{{'EXIBICAO_EM_SEGUNDOS'|translate}}</label>
                            <input id="segundos" type="number" min="0"  formControlName="segundos" class="input-tempo" pInputText>                         
                        </span>
                    </div>
                    <app-panel-agendamento-conteudo #panelAgendamento>
            
                    </app-panel-agendamento-conteudo> 
                </div> 
            </form>      
    </ng-template>
</app-pagecadastro-conteudo>

