<app-pagecadastro [config]="config" (save)="salvar($event)">
    <div class="player-cadastro rd-flex rd-col rd-gap-8">        
        <div class="rd-flex rd-col">
            <form [formGroup]="form">
                <div class="rd-flex rd-col ">
                    <div class="p-field rd-col">
                        <label for="titulo" translate>NOME</label>
                        <input id="titulo" required formControlName="nome" type="text" pInputText>                     
                    </div>  
                    <div class="p-field rd-row rd-gap">
                        <label class="label-field" translate>ORIENTACAO</label>
                        <p-radioButton name="orientacao" value="1" formControlName="orientacao" label="PAISAGEM"></p-radioButton>
                        <p-radioButton name="orientacao" value="2" formControlName="orientacao" label="RETRATO"></p-radioButton>
                    </div>                                
                    
                    <div class="p-field rd-row rd-gap">
                        <label class="label-left">HORARIO_DE_EXECUCAO</label> 
                        <label class="label-left" for="horaInicio" translate>INICIO</label> 
                        <p-calendar [timeOnly]="true" formControlName="horaInicio" imputId="horaInicio"></p-calendar>
                        <label class="label-left" for="horaFim" translate>FIM</label> 
                        <p-calendar [timeOnly]="true" formControlName="horaFim"  imputId="horaFim"></p-calendar>
                    </div>
                </div> 
            </form>
        </div>
    </div>            
</app-pagecadastro>


