@mixin page-configuracao-usuario-cadastro($videotheme) {
 
    app-usuario-cadastro {
        
        display: flex;

        p-autocomplete {
            display: flex;
            span {
                flex: 1;
            };
        }
    }
}