@mixin page-configuracao-usuario-cadastro($videotheme) {
 
    app-usuario-cadastro {
        height: 100%;
        p-autocomplete {
            display: flex;
            span {
                flex: 1;
            };
        }
        .p-inputtext,.p-password{
            width: 100%;
        }
    }
}