<app-pagecadastro #pageCadastro [config]="config" (save)="salvar($event)">
    <div class="page-usuario-cadastro rd-flex rd-col rd-gap-8">
        <div class="rd-col rd-flex rd-gap">
            <div class="div-edicao rd-flex rd-col">
                <form [formGroup]="form">
                    <div class="rd-flex rd-col ">
                        <div class="p-field rd-col">
                            <label for="nome" translate>NOME</label>
                            <input id="nome" required formControlName="nome" type="text" pInputText>
                        </div> 
                        <div class="p-field rd-col">
                            <label for="sequencia" translate>SEQUENCIA</label>
                            <input id="sequencia" required formControlName="sequencia" type="number" pInputText>
                        </div> 
                    </div> 
                </form>      
            </div>  
        </div>    
    </div>            
</app-pagecadastro>
