@mixin app-dialog-playlist-pesquisa-publicacao($videotheme) {
 
    app-playlist-pesquisa-dialog {
        .p-dialog{
            display: flex;
            flex-direction: column;

            .p-dialog-content{
                flex: 1;
                padding: 0px !important;
            }
        } 
        .div-footer{
            text-align: right;
            padding: 1rem;
        }
    }
}