@mixin app-galeria-conteudo-playlist($videotheme) {
 
    app-galeria-conteudo {
        .p-dialog{
            display: flex;
            flex-direction: column;

            :host .p-dialog-content{
                flex: 1;
                overflow: hidden !important;
                padding: 0px !important;
                .p-galleria{
                    width: 100%;
                }
                
            }
        } 
        .div-acoes{
            margin-bottom: 8px;
        }
        p-dataview {
            width: calc(600px * 2 + 16px);
            overflow: auto;
        }
        .p-grid{
            gap: 16px;
        }
        .titulo{            
            font-size: 18px;
            font-weight: 500;
        }
        .div-footer{
            margin-top: 8px;
            
        }
    }
}