
@mixin app-panel-conteudo($theme) {
    
    app-panel-conteudo{
        display: flex;
        height: 100%;

        .app-panel-conteudo {
            // margin-bottom: 3rem;
        }

        .field-busca{
            width: 300px;
            input {
                width: 100% !important;
            }
        }

        .pesquisa{
            
            height: 100%;
            overflow: hidden;
            .pesquisa-content{
                border-radius: 5px;
                background: white;
                padding: 8px;
                margin-top: 8px;
                overflow: hidden;
                height: 100%;
            }
            .lista-opcoes {
                overflow-y: scroll;
                height: 100%;
            }
            
            .div-menu{
                // width: 250px;
                background: black;
                border-radius: 5px;
                height: 100%;
                padding: 12px;
                
                .item-menu{
                    color: white;
                    font-weight: 400;
                    margin: 16px;
                    font-size: 14;
                    cursor: pointer;
                }
                .item-menu.selected {
                    background: map-get($theme, light);
                    font-weight: 800;
                    margin: 8px;
                    padding: 8px;
                    border-radius: 5px;
                }
            }
            .pesquisa-list{
                margin: 8px;
                height: 100%;
                overflow: auto;
                .div-filtro{
                    text-align: end;
                }

                .list-conteudo {
                    overflow-y: scroll;
                }
            }
        }

        .cadastro{  
            gap: 8px;
            height: 100%;
            
        }
    }
}
