<div class="template-video-conteudo rd-flex rd-col rd-gap-8">
    <div class="">
        <button pButton  type="button" label="NOVO_CONTEUDO" (click)="novo()" ></button>
    </div>
    <div class="rd-row rd-flex rd-gap">
        <div class="div-edicao rd-flex rd-col">
            <form [formGroup]="form">
                <div class="rd-flex rd-col ">
                    <div class="p-field rd-col">
                        <label for="titulo">Título</label>
                        <input id="titulo" required formControlName="titulo" type="text" pInputText>                     
                    </div> 
                    <div class="p-field rd-row">
                        <p-fileUpload mode="basic" maxFileSize="90000000" fileLimit="1" cancelLabel="CANCELAR" [auto]="true" chooseLabel="ESCOLHER" uploadLabel="CARREGAR" 
                        name="filename" customUpload="true" (uploadHandler)="uploadFile($event)" ></p-fileUpload>
                        <div class="rd-flex arquivo">{{arquivo?.nome}}</div>
                        <!-- <div class="rd-flex">{{arquivo.url}}</div> -->
                    </div> 
                    <div class="tempo rd-row rd-gap">
                        <label class="label-field">Tempo de exibição</label>
                        <span class=" rd-row">                
                            <input id="minutos" class="input-tempo" formControlName="minutos" min="0"  type="number" pInputText>                         
                            <label class="label-field" for="minutos">&nbsp; Minutos</label>
                        </span>
                        <span class=" rd-row">                
                            <input id="segundos" type="number" min="0" max="60" formControlName="segundos" class="input-tempo" pInputText>                         
                            <label class="label-field" for="segundos">&nbsp;Segundos</label>
                        </span>
                    </div>
                    <app-panel-agendamento-conteudo #panelAgendamento>
            
                    </app-panel-agendamento-conteudo> 
                </div> 
            </form>
            <p-messages></p-messages>       
        </div>
        <div class="acoes rd-col rd-gap">
            <app-register-action (onPreview)="preview()" (onPublicar)="publicar()" (onSalvar)="salvar()" [permiteImportar]="false">
        
            </app-register-action> 
        </div>      
    </div>    
</div>            



