<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_VIDEO', btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
        <p-messages></p-messages>
        <form [formGroup]="form">
            <div class="rd-flex rd-col div-form">
                <div class="p-field rd-col">
                    <label for="titulo" translate>TITULO</label>
                    <input id="titulo" required formControlName="titulo" [ngClass]="{'ng-invalid':form.controls['titulo'].invalid}" type="text" pInputText>                     
                    <small id="titulo" *ngIf="form.controls['titulo'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div> 
                <div class="p-field rd-row">
                    <p-fileUpload #fileUpload mode="basic" maxFileSize="9999999999" fileLimit="1" cancelLabel="CANCELAR" [auto]="true" chooseLabel="ESCOLHER" uploadLabel="CARREGAR" 
                    name="filename" customUpload="true" (uploadHandler)="uploadFile($event)" accept=".mov,.mp3,.mkv,.mp4,.avi"
                    invalidFileSizeMessageSummary="{0}:Invalido o tamanho do arquivo!" 
                    invalidFileSizeMessageDetail="O tamanho máximo do arquivo é {0}"></p-fileUpload>                    
                    <div class="rd-flex arquivo">{{arquivo?.nome}}</div>                    
                    <button pButton *ngIf="arquivo" class="p-button-secondary"  type="button" label="{{'BAIXAR'|translate}}" (click)="baixarArquivo()" ></button>
                </div>  
                <p-progressBar *ngIf="carregandoArquivo" class="p-field" [value]="progressValue" mode="determinate"></p-progressBar>
                <div class="p-field rd-row rd-gap">
                    <!-- <label class="label-field" translate>AUDIO</label>                                 -->                    
                    <p-radioButton name="audio" value="1" formControlName="audio"  label="{{'SEM_AUDIO'|translate}}"></p-radioButton>
                    <p-radioButton name="audio" value="2" formControlName="audio" label="{{'COM_AUDIO'|translate}}"></p-radioButton>
                </div>
                <app-panel-agendamento-conteudo #panelAgendamento>
        
                </app-panel-agendamento-conteudo> 
            </div> 
        </form>
    </ng-template>
</app-pagecadastro-conteudo>