<app-pagecadastro-conteudo [content]="content" [config]="{titulo: 'CADASTRO_VIDEO', btnNovo: 'NOVO_CONTEUDO'}" (novo)="novo()" (preview)="preview()" (salvar)="salvar()" (publicar)="publicar()">
    <ng-template #content>
        <form [formGroup]="form">
            <div class="rd-flex rd-col ">
                <div class="p-field rd-col">
                    <label for="titulo" translate>TITULO</label>
                    <input id="titulo" required formControlName="titulo" [ngClass]="{'ng-invalid':form.controls['titulo'].invalid}" type="text" pInputText>                     
                    <small id="titulo" *ngIf="form.controls['titulo'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                </div> 
                <div class="p-field rd-row">
                    <p-fileUpload mode="basic" maxFileSize="99999999" fileLimit="1" cancelLabel="CANCELAR" [auto]="true" chooseLabel="ESCOLHER" uploadLabel="CARREGAR" 
                    name="filename" customUpload="true" (uploadHandler)="uploadFile($event)" accept=".mov,.mp3,.mkv,.mp4" ></p-fileUpload>
                    <div class="rd-flex arquivo">{{arquivo?.nome}}</div>
                    <!-- <div class="rd-flex">{{arquivo.url}}</div> -->
                </div> 
                <div class="tempo rd-row rd-gap">
                    <label class="label-field">Tempo de exibição</label>
                    <span class=" rd-row">                
                        <input id="minutos" class="input-tempo" formControlName="minutos" min="0"  type="number" pInputText>                         
                        <label class="label-field" for="minutos">&nbsp; Minutos</label>
                    </span>
                    <span class=" rd-row">                
                        <input id="segundos" type="number" min="0" max="60" formControlName="segundos" class="input-tempo" pInputText>                         
                        <label class="label-field" for="segundos">&nbsp;Segundos</label>
                    </span>
                </div>
                <app-panel-agendamento-conteudo #panelAgendamento>
        
                </app-panel-agendamento-conteudo> 
            </div> 
        </form>
    </ng-template>
</app-pagecadastro-conteudo>