/* You can add global styles to this file, and also import other style files */
@import './app/componentes/register-action/register-action.component.scss';
@import 'primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import './app/componentes/layouts/painel-site/painel-site.component.scss';
@import './app/pages/conteudo/panel-conteudo/panel-conteudo.component.scss';
@import './app/componentes/gridpesquisa/gridpesquisa.component.scss';

@import './app/pages/login/panel-login/login.scss';
@import './app/pages/login/recuperar-senha/recuperar-senha.component.scss';
@import './app/pages/conteudo/componente/panel-agendamento/panel-agendamento.component.scss';
@import './app/pages/conteudo/componente/template-imagem/template-imagem.component.scss';
@import './app/pages/conteudo/componente/template-video/template-video.component.scss';
@import './app/pages/conteudo/componente/template-noticia/template-noticia.component.scss';
@import './app/pages/conteudo/componente/template-cotacao/template-cotacao.component.scss';
@import './app/pages/conteudo/componente/template-loteria/template-loteria.component.scss';
@import './app/pages/conteudo/componente/template-previsaotempo/template-previsaotempo.component.scss';
@import './app/pages/conteudo/componente/template-default/template-default.component.scss';

@import './app/pages/publicacao/panel-publicacao/panel-publicacao.component.scss';
@import './app/pages/publicacao/componente/dialog-playlist/playlist-dialog.component.scss';
@import './app/pages/publicacao/componente/dialog-playlist-pesquisa/playlist-pesquisa-dialog.component.scss';

@import './app/pages/player/panel-player/panel-player.component.scss';
@import './app/pages/player/pages/player-cadastro/player-cadastro.component.scss';
@import './app/pages/player/pages/player-pesquisa/player-pesquisa.component.scss';
@import './app/pages/player/pages/grupoplayer-cadastro/grupoplayer-cadastro.component.scss';
@import './app/pages/player/pages/grupoplayer-pesquisa/grupoplayer-pesquisa.component.scss';
@import './app/pages/player/pages/playlist-cadastro/playlist-cadastro.component.scss';
@import './app/pages/player/pages/playlist-pesquisa/playlist-pesquisa.component.scss';
@import './app/pages/player/pages/playlist-cadastro/dialog-conteudo/conteudo-dialog.component.scss';


@import './app/pages/configuracao/panel-configuracao/panel-configuracao.component.scss';
@import './app/pages/configuracao/pages/loteria/loteria-cadastro/loteria-cadastro.component.scss';
@import './app/pages/configuracao/pages/loteria/loteria-pesquisa/loteria-pesquisa.component.scss';

@import './app/pages/configuracao/pages/template/template-cadastro/template-cadastro.component.scss';
@import './app/pages/configuracao/pages/template/template-pesquisa/template-pesquisa.component.scss';
@import './app/pages/configuracao/pages/equipamento/equipamento-cadastro/equipamento-cadastro.component.scss';
@import './app/pages/configuracao/pages/equipamento/equipamento-pesquisa/equipamento-pesquisa.component.scss';
@import './app/pages/configuracao/pages/tipoconteudo/tipoconteudo-cadastro/tipoconteudo-cadastro.component.scss';
@import './app/pages/configuracao/pages/tipoconteudo/tipoconteudo-pesquisa/tipoconteudo-pesquisa.component.scss';
@import './app/pages/configuracao/pages/fontenoticia/fontenoticia-cadastro/fontenoticia-cadastro.component.scss';
@import './app/pages/configuracao/pages/fontenoticia/fontenoticia-pesquisa/fontenoticia-pesquisa.component.scss';
@import './app/pages/configuracao/pages/usuario/usuario-pesquisa/usuario-pesquisa.component.scss';
@import './app/pages/configuracao/pages/usuario/usuario-cadastro/usuario-cadastro.component.scss';
@import './app/pages/configuracao/pages/grupousuario/grupousuario-cadastro/grupousuario-cadastro.component.scss';
@import './app/pages/configuracao/pages/grupousuario/grupousuario-pesquisa/grupousuario-pesquisa.component.scss';
@import './app/pages/configuracao/pages/noticia/noticia-cadastro/noticia-cadastro.component.scss';
@import './app/pages/configuracao/pages/noticia/noticia-pesquisa/noticia-pesquisa.component.scss';
@import './app/pages/configuracao/pages/noticia/noticia-cadastro/noticia-cadastro.component.scss';
@import './app/pages/configuracao/pages/previsaotempoimagem/previsaotempoimagem-cadastro/previsaotempoimagem-cadastro.component.scss';
@import './app/pages/configuracao/pages/previsaotempoimagem/previsaotempoimagem-pesquisa/previsaotempoimagem-pesquisa.component.scss';

@import './app/componentes/pagecadastro/pagecadastro.component.scss';
@import './app/componentes/conteudo-row/conteudo-row.component.scss';
@import './app/componentes/conteudo-display/conteudo-display.component.scss';

// @include mat-core();


$theme:(
    primary: #007bff,
    secondary:#f5ededef,
    dark:#f7862b59,
    light:#cac62af7 ,
    white:#ffffff,
    black:black
);

@mixin background-body {
    background: #8c7f7f59;
}
@mixin absoluto {    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@include painel-site-component($theme);
@include gridpesquisa($theme);
@include app-panel-conteudo($theme);
@include panel-agendamento-conteudo($theme);
@include template-imagem-conteudo($theme);
@include template-video-conteudo($theme);
@include template-noticia-conteudo($theme);
@include template-cotacao-conteudo($theme);
@include template-loteria-conteudo($theme);
@include template-previsaotempo-conteudo($theme);
@include template-default-conteudo($theme);
/**
PUBLICACAÇÂO
*/
@include app-panel-publicacao($theme);
@include app-dialog-playlist-publicacao($theme);
@include app-dialog-playlist-pesquisa-publicacao($theme);

/*
PLAYER
*/
@include app-panel-player($theme);
@include app-player-cadastro($theme);
@include app-player-pesquisa($theme);
@include app-grupoplayer-pesquisa($theme);
@include app-grupoplayer-cadastro($theme);
@include app-playlist-cadastro($theme);
@include app-playlist-pesquisa($theme);
@include app-dialog-conteudo-playlist($theme);


@include app-panel-configuracao($theme);


@include login-page-layout($theme);
@include register-action($theme);
@include recuperar-senha-theme($theme);

@include page-template-cadastro($theme);
@include page-configuracao-fontenoticia-pesquisa($theme);
@include page-configuracao-fontenoticia-cadastro($theme);
@include page-configuracao-tipoconteudo-pesquisa($theme);
@include page-configuracao-tipoconteudo-cadastro($theme);
@include page-configuracao-loteria-pesquisa($theme);
@include page-configuracao-loteria-cadastro($theme);
@include page-configuracao-equipamento-pesquisa($theme);
@include page-configuracao-equipamento-cadastro($theme);
@include page-configuracao-usuario-cadastro($theme);
@include page-configuracao-usuario-pesquisa($theme);
@include page-configuracao-grupousuario-cadastro($theme);
@include page-configuracao-grupousuario-pesquisa($theme);
@include page-configuracao-noticia-cadastro($theme);
@include page-configuracao-noticia-pesquisa($theme);
@include  page-configuracao-previsaotempoimagem-pesquisa($theme);
@include  page-configuracao-previsaotempoimagem-cadastro($theme);


@include page-cadastro($theme);
@include conteudo-row($theme);
@include conteudo-display($theme);
@include page-template-pesquisa($theme);


html, body { 
    height: 100%; 
    @include absoluto();
    @include background-body();
    overflow-y: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.label-nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.rd-row{
    display: flex;
    flex-direction: row;
}
.rd-col{
    display: flex;
    flex-direction: column;
}
.rd-flex{
    flex: 1;
}
.rd-mg-8{
    margin: 8px;
}

.rd-gap{
    gap: 16px;
}

.rd-mgl-16{
    margin-left: 16px;
}
.rd-gap-8{
    gap: 8px;
}
.rd-mgr-16{
    margin-right: 16px;
}
.rd-w-100{
    width: 100%;
}
.rd-h-100{
    height: 100%;
}
.rd-txt-center{
    text-align: center;
}
.rd-over-hidden{
    overflow: hidden;
}
.rd-flex-auto {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.obrigatorio{
    color: red;
    font-weight: 100;
    margin-left: 4px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
}
.mat-typography{
    background: url('/assets/images/fundo-site.jpeg');
    background-size: cover;
}