/* You can add global styles to this file, and also import other style files */
@import './app/componentes/register-action/register-action.component.scss';
@import 'primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import './app/componentes/layouts/painel-site/painel-site.component.scss';
@import './app/pages/conteudo/panel-conteudo/panel-conteudo.component.scss';
@import './app/componentes/gridpesquisa/gridpesquisa.component.scss';

@import './app/pages/login/login.scss';
@import './app/pages/conteudo/componente/panel-agendamento/panel-agendamento.component.scss';
@import './app/pages/conteudo/componente/template-imagem/template-imagem.component.scss';
@import './app/pages/conteudo/componente/template-video/template-video.component.scss';
@import './app/pages/conteudo/componente/template-noticia/template-noticia.component.scss';
@import './app/pages/conteudo/componente/template-cotacao/template-cotacao.component.scss';
@import './app/pages/conteudo/componente/template-loteria/template-loteria.component.scss';
@import './app/pages/conteudo/componente/template-previsaotempo/template-previsaotempo.component.scss';

@import './app/pages/publicacao/panel-publicacao/panel-publicacao.component.scss';
@import './app/pages/publicacao/componente/publicacao-imagem/publicacao-imagem.component.scss';

@import './app/pages/player/panel-player/panel-player.component.scss';
@import './app/pages/player/componente/player-cadastro/player-cadastro.component.scss';

@import './app/pages/configuracao/panel-configuracao/panel-configuracao.component.scss';
@import './app/pages/configuracao/pages/loteria/loteria-cadastro/loteria-cadastro.component.scss';
@import './app/pages/configuracao/pages/loteria/loteria-pesquisa/loteria-pesquisa.component.scss';

@import './app/pages/grupo/panel-grupo/panel-grupo.component.scss';
@import './app/pages/configuracao/pages/template/template-cadastro/template-cadastro.component.scss';
@import './app/pages/configuracao/pages/template/template-pesquisa/template-pesquisa.component.scss';
@import './app/pages/configuracao/pages/equipamento/equipamento-cadastro/equipamento-cadastro.component.scss';
@import './app/pages/configuracao/pages/equipamento/equipamento-pesquisa/equipamento-pesquisa.component.scss';
@import './app/pages/configuracao/pages/tipoconteudo/tipoconteudo-cadastro/tipoconteudo-cadastro.component.scss';
@import './app/pages/configuracao/pages/tipoconteudo/tipoconteudo-pesquisa/tipoconteudo-pesquisa.component.scss';
@import './app/pages/configuracao/pages/fontenoticia/fontenoticia-cadastro/fontenoticia-cadastro.component.scss';
@import './app/pages/configuracao/pages/fontenoticia/fontenoticia-pesquisa/fontenoticia-pesquisa.component.scss';


@import './app/componentes/pagecadastro/pagecadastro.component.scss';

// @include mat-core();


$theme:(
    primary:#ece2e259,
    secondary:#f5ededef,
    dark:#dd823859,
    light:#2c965859,
    white:white,
    black:black
);

@mixin background-body {
    background: #8c7f7f59;
}
@mixin absoluto {    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@include painel-site-component($theme);
@include gridpesquisa($theme);
@include app-panel-conteudo($theme);
@include panel-agendamento-conteudo($theme);
@include template-imagem-conteudo($theme);
@include template-video-conteudo($theme);
@include template-noticia-conteudo($theme);
@include template-cotacao-conteudo($theme);
@include template-loteria-conteudo($theme);
@include template-previsaotempo-conteudo($theme);
/**
PUBLICACAÇÂO
*/
@include app-panel-publicacao($theme);
@include app-publicacao-imagem($theme);

/*
PLAYER
*/
@include app-panel-player($theme);
@include app-player-cadastro($theme);

@include app-panel-grupo-player($theme);

@include app-panel-configuracao($theme);


@include login-page-layout($theme);
@include register-action($theme);

@include page-template-cadastro($theme);
@include page-configuracao-fontenoticia-pesquisa($theme);
@include page-configuracao-fontenoticia-cadastro($theme);
@include page-configuracao-tipoconteudo-pesquisa($theme);
@include page-configuracao-tipoconteudo-cadastro($theme);
@include page-configuracao-loteria-pesquisa($theme);
@include page-configuracao-loteria-cadastro($theme);
@include page-configuracao-equipamento-pesquisa($theme);
@include page-configuracao-equipamento-cadastro($theme);

@include page-cadastro($theme);
@include page-template-pesquisa($theme);


html, body { 
    height: 100%; 
    @include absoluto();
    @include background-body();
    overflow-y: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.rd-row{
    display: flex;
    flex-direction: row;
}
.rd-col{
    display: flex;
    flex-direction: column;
}
.rd-flex{
    flex: 1;
}
.rd-mg-8{
    margin: 8px;
}

.rd-gap{
    gap: 16px;
}

.rd-mgl-16{
    margin-left: 16px;
}
.rd-gap-8{
    gap: 8px;
}
.rd-mgr-16{
    margin-right: 16px;
}
.rd-w-100{
    width: 100%;
}
.rd-h-100{
    height: 100%;
}
.rd-txt-center{
    text-align: center;
}
.rd-over-hidden{
    overflow: hidden;
}