<div class="rd-col rd-flex"> 
    <div class="rd-row rd-flex rd-gap">
        <div class="rd-col rd-flex">
            <div class="p-d-flex p-jc-end ">
                <span class="p-float-label field-busca">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input" >{{'BUSCAR'|translate}}</label>
                </span>
            </div>
            <div class="rd-row rd-flex pesquisa ">
                <div class="div-menu">
                    <span class="p-float-label">
                        <input id="pesquisaTipo" [(ngModel)]="pesquisaTipo" (ngModelChange)="pesquisarTipo($event)" type="text" pInputText> 
                        <label for="pesquisaTipo" translate>OPCOES</label>
                    </span>
                    <div *ngFor="let item of tiposConteudos">
                        <div class="item-menu" [ngClass]="{'selected':item.id == tipoConteudo?.id }" (click)="filtrarTipo(item)">{{item.nome}}</div>
                    </div>
                </div>
                <div class="rd-flex pesquisa-list">
                    <!-- <div class="div-filtro"> filtro: Data / Nome / Recentes / Antigos</div> -->
                    <div class="title-conteudo" >
                        {{tipoConteudo?.nome}}
                    </div>
                    <div class="item-conteudo rd-row" *ngFor="let conteudo of conteudos">
                        <app-conteudo-row pDraggable="conteudo" (onDragStart)="dragStart(conteudo)" (onDragEnd)="dragEnd($event)"
                            [conteudo]="conteudo" (onAbrirArquivo)="arquivoConteudo(conteudo)" (onVisualizar)="visualizarConteudo(conteudo)"
                            (onAlterar)="alterarConteudo(conteudo)" (onExcluir)="excluirConteudo(conteudo)" > 
                        </app-conteudo-row>
                    </div>
                </div>
            </div>
        </div>        
        <div class="rd-row rd-flex cadastro">
            <div class="publicacao-cadastro rd-flex rd-col rd-gap-8">    
                <form [formGroup]="form" class="p-flex-column"> 
                    <div class="p-field p-grid">
                        <p-selectButton [options]="tiposPublicacao" [ngModelOptions]="{standalone: true}" [(ngModel)]="idTipoPublicacao" optionValue="id" optionLabel="name">
                            <ng-template let-item>
                                {{item.name|translate}}
                            </ng-template>
                        </p-selectButton>
                        <div class="p-field p-col p-flex-column" *ngIf="idTipoPublicacao ==1">
                            <p-autoComplete class="p-field" id="player" formControlName="player" 
                                [suggestions]="players" (completeMethod)="pesquisarPlayer($event.query)" field="nome" [dropdown]="true">
                                <ng-template let-player pTemplate="item">
                                    <div>{{player.nome}} </div>
                                </ng-template>
                            </p-autoComplete>
                            <small id="player-erro" *ngIf="form.controls['player'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>
                        <div class="p-field p-col p-flex-column" *ngIf="idTipoPublicacao ==2">
                            <p-autoComplete class="p-field" formControlName="grupoPlayer" 
                                [suggestions]="grupoPlayers" (completeMethod)="pesquisarGrupoPlayer($event.query)" field="nome" [dropdown]="true">
                                <ng-template let-grupo pTemplate="item">
                                    <div>{{grupo.nome}} </div>
                                </ng-template>
                            </p-autoComplete>
                            <small id="grupoplayer-erro" *ngIf="form.controls['grupoPlayer'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>
                    </div> 
                    <div class="rd-row p-flex rd-gap">
                        <div class="div-edicao rd-flex rd-col">
                            <p-orderList pDroppable="conteudo" (onDrop)="drop($event)" class="rd-flex rd-col" [value]="listaConteudo"  [dragdrop]="true" controlsPosition="right">
                                <ng-template let-itemList pTemplate="item">

                                    <app-conteudo-row [conteudo]="itemList.conteudo"  (onExcluir)="excluirConteudo(itemList)"
                                        [exibiBtnAlterar]="false" [exibiBtnExcluir]="true" [exibiBtnVisualizar]="false" [exibiBtnArquivo]="false">
                                    </app-conteudo-row>
                                </ng-template>
                            </p-orderList>
                            <p-messages></p-messages>       
                        </div>
                        <div class="acoes rd-col rd-gap">
                            <button pButton (click)="publicar()"  type="button" label="{{'PUBLICAR'|translate}}"></button>
                            <button pButton (click)="preview()" type="button" label="{{'VISUALIZAR'|translate}}"></button>
                            <button pButton (click)="salvar()" type="button" label="{{'SALVAR'|translate}}"></button>
                            <button pButton (click)="importar()" type="button" label="{{'IMPORTAR'|translate}}"></button>
                        </div>      
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>