
@mixin app-panel-publicacao($theme) {
    
    app-panel-publicacao{
        margin: 50px;
        display: flex;
        flex: 1;
        .field-busca{
            width: 300px;
            input {
                width: 100% !important;
            }
        }

        .pesquisa{
            border-radius: 5px;
            background: white;
            padding: 8px;
            margin-top: 8px;
            height: 100%;

            
            .div-menu{
                width: 250px;
                background: black;
                border-radius: 5px;
                height: 100%;
                padding: 12px;
                
                .item-menu{
                    color: white;
                    font-weight: 400;
                    margin: 16px;
                    font-size: 14;
                    cursor: pointer;
                }
                .item-menu.selected {
                    // background: map-get($theme, dark);
                    font-weight: 800;
                    font-size: 18;
                }
            }
            .pesquisa-list{
                margin: 8px;

                .div-filtro{
                    text-align: end;
                }

                 
            }
        }

        .cadastro{  
            gap: 8px;
            height: 100%;
            width: 100%;

            .p-autocomplete{
                width: 100%;
            }
            .div-edicao{
                border-radius: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: black;
                padding: 16px;
            }
        }
    }
}
