<div class="app-panel-publicacao rd-flex-auto p-flex-row p-mt-4 p-ml-lg-4 p-mr-lg-4 rd-w-100">     
        <div class="rd-flex-auto p-mb-2 p-col-6 pesquisa">            
            <div class="p-d-flex p-jc-end ">
                <span class="p-float-label field-busca">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input" >{{'BUSCAR'|translate}}</label>
                </span>
            </div>
            <div class="p-d-flex p-flex-row pesquisa-content ">                
                <div class="div-menu p-col-3 p-d-flex p-flex-column">
                    <span class="p-float-label">
                        <input id="pesquisaTipo" class="rd-w-100" [(ngModel)]="pesquisaTipo" (ngModelChange)="pesquisarTipo($event)" type="text" pInputText> 
                        <label for="pesquisaTipo" translate>OPCOES</label>
                    </span>
                    <div class="lista-opcoes">
                        <div *ngFor="let item of tiposConteudos">
                            <div class="item-menu" [ngClass]="{'selected':item.id == tipoConteudo?.id }" (click)="filtrarTipo(item)">{{item.nome}}</div>
                        </div>
                    </div>
                </div>
                <div class="p-col-9 p-d-flex p-flex-column pesquisa-list">
                    <div class="title-conteudo" >
                        {{tipoConteudo?.nome}}
                    </div>
                    <div class="list-conteudo">
                        <div class="item-conteudo " pDraggable="conteudo" (onDragStart)="dragStart(conteudo)" (onDragEnd)="dragEnd($event)" *ngFor="let conteudo of conteudos">
                            <app-conteudo-row 
                                [conteudo]="conteudo" (onAbrirArquivo)="arquivoConteudo(conteudo)" (onVisualizar)="visualizarConteudo(conteudo)"
                                [exibiBtnAlterar]="false" [exibiBtnExcluir]="false" [exibiBtnVisualizar]="false" [exibiBtnArquivo]="false"> 
                            </app-conteudo-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="rd-flex-auto p-col-6 cadastro">
            <div class="publicacao-cadastro rd-flex rd-col rd-gap-8">    
                <form [formGroup]="form" class="rd-flex rd-col p-flex-column"> 
                    <div class="p-grid div-tipo-grupo">
                        <p-selectButton [options]="tiposPublicacao" [ngModelOptions]="{standalone: true}" [(ngModel)]="idTipoPublicacao" optionValue="id" optionLabel="name">
                            <ng-template let-item>
                                {{item.name|translate}}
                            </ng-template>
                        </p-selectButton>
                        <div class="p-col p-flex-column" *ngIf="idTipoPublicacao ==1">
                            <p-autoComplete class="p-field" id="player" formControlName="player" 
                                [suggestions]="players" (completeMethod)="pesquisarPlayer($event.query)" field="nome" [dropdown]="true">
                                <ng-template let-player pTemplate="item">
                                    <div>{{player.nome}} </div>
                                </ng-template>
                            </p-autoComplete>
                            <small id="player-erro" *ngIf="form.controls['player'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>
                        <div class="p-col p-flex-column" *ngIf="idTipoPublicacao ==2">
                            <p-autoComplete class="p-field" formControlName="grupoPlayer" 
                                [suggestions]="grupoPlayers" (completeMethod)="pesquisarGrupoPlayer($event.query)" field="nome" [dropdown]="true">
                                <ng-template let-grupo pTemplate="item">
                                    <div>{{grupo.nome}} </div>
                                </ng-template>
                            </p-autoComplete>
                            <small id="grupoplayer-erro" *ngIf="form.controls['grupoPlayer'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>
                    </div> 
                    <div class="rd-row p-flex rd-flex rd-gap">
                        <div class="div-edicao rd-flex rd-col">
                            <p-messages></p-messages>       
                            <div class="div-resumo rd-row rd-gap">
                                <div class="rd-flex"></div>
                                <div class="rd-row"> 
                                    {{'INTERCALADA'|translate}}&nbsp;  
                                    <div [ngSwitch]="form.controls['tipoIntercalacao'].value">
                                        <div *ngSwitchCase="1" translate>1|1</div>
                                        <div *ngSwitchCase="2" translate>2|2</div>
                                        <div *ngSwitchCase="3" translate>3|3</div>
                                        <div *ngSwitchCase="4" translate>4|4</div>
                                        <div *ngSwitchDefault translate></div>
                                    </div>
                                </div>
                                <div>{{listaConteudo.length}}&nbsp; {{'ITENS'|translate}}</div>
                                <div>{{tempoLista | tempoExibicao}}</div>
                            </div>
                            <p-orderList class="rd-h-100" pDroppable="conteudo" (onDrop)="drop($event)" [value]="listaConteudo"  [dragdrop]="true" controlsPosition="right">
                                <ng-template  let-itemList let-index="index" pTemplate="item">
                                    <div class="rd-row">
                                        <div class="order-index">{{index + 1}}</div>
                                        <app-conteudo-row class="rd-flex" [conteudo]="itemList.conteudo"  (onExcluir)="excluirConteudo(itemList)"
                                            [exibiBtnAlterar]="false" [exibiBtnExcluir]="true" [exibiBtnVisualizar]="false" [exibiBtnArquivo]="false">
                                        </app-conteudo-row>
                                    </div>
                                </ng-template>
                            </p-orderList>
                            
                        </div>
                        <div class="acoes rd-col rd-gap">
                            <button pButton (click)="publicar()"  type="button" label="{{'PUBLICAR'|translate}}"></button>
                            <button pButton (click)="preview()" type="button" label="{{'VISUALIZAR'|translate}}"></button>
                            <button pButton (click)="salvar()" type="button" label="{{'SALVAR'|translate}}"></button>
                            <button pButton (click)="importar()" type="button" label="{{'IMPORTAR'|translate}}"></button>
                            <div class="p-field rd-col">
                                <label for="intercalacao" translate>{{'INTERCALACAO'|translate}}</label>
                                <p-dropdown id="intercalacao" [options]="tiposIntercalacao" optionLabel="name" optionValue="id" formControlName="tipoIntercalacao"></p-dropdown>
                            </div>                 
                        </div>      
                    </div>    
                </form>
            </div>
        </div>
</div>