@mixin app-playlist-cadastro($videotheme) {
 
    app-playlist-cadastro {
        flex: 1;
        height: 100%;
        display: flex;
        overflow: hidden;
        .playlist-cadastro{
            overflow: hidden;
            height: 100%;
        }
        
        .label-field{
            line-height: 20px;
            white-space: nowrap;
            margin: 8px;
            margin-left: 0px;
        } 
        .p-calendar, .p-dropdown {
            display: flex !important;
        }
        p-autocomplete {
            display: flex;
            span {
                flex: 1;
            };
        }
        .p-card-body{
            display: flex;
            flex-direction: column;
        }
        .p-card-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        .div-container-orderlist{
            border: 1px solid #dee2e6;
            overflow: hidden;
            height: 100%;
            .header{
                background: #f8f9fa;
                color: #495057;
                border: 1px solid #dee2e6;
                padding: 8px;
                border-bottom: 0 none;
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
                align-items: center;
                font-weight: 500;
                .btn-add{
                    margin-right: 1rem;
                }
            }
        }
        // .p-tabview{
        //     flex: 1;
        //     // display: flex;
        //     // flex-direction: column;
        //     .p-tabview-panels{
        //         display: flex;
        //         flex-direction: column;
        //         flex: 1;
        //         .p-tabview-panel{
        //             display: flex;
        //             flex-direction: column;
        //             flex: 1;
        //         }
        //     }
        // }
        .p-listbox{
            height: 100%;
            overflow: hidden;
        }
        p-orderlist{
            overflow: hidden;
            .p-orderlist{
                display: flex;
                flex: auto;
                overflow: hidden;
                .p-orderlist-list-container{
                    overflow: auto;
                }
                .p-orderlist-list{ 
                    height: calc(100% - 70px);
                    .order-index{
                        margin-right: 8px !important;
                        top: 0px;
                        bottom: 0px;
                        margin: auto;
                    }
                } 
            }
        }
    }
}