<app-pagecadastro [config]="config" (save)="salvar($event)">
    <div class="playlist-cadastro rd-flex rd-col rd-gap-8">        
        <div class="rd-flex rd-col">
            <form [formGroup]="form">
                <div class="rd-flex rd-col ">
                    <div class="p-field rd-col">
                        <label for="titulo" translate>NOME</label>
                        <input id="titulo" required formControlName="nome" type="text" pInputText>                     
                    </div>
                    <div class="rd-row rd-gap">
                        <div class="rd-col rd-flex">
                            <label for="dataInicio" translate>Início as</label>
                            <p-calendar [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" formControlName="dataInicio" inputId="dataInicio"></p-calendar>
                        </div>
                        <div class="rd-col rd-flex">
                            <label for="dataFim" translate>Término as</label>
                            <p-calendar [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" formControlName="dataFim"  inputId="dataFim"></p-calendar>
                        </div>
                        <div class="rd-col rd-flex">
                            <label for="status" translate>STATUS</label>
                            <p-dropdown [options]="listaStatus" formControlName="status" optionLabel="nome" optionValue="id" >
                                <ng-template let-item pTemplate="selectedItem">
                                    <div class="" >
                                        <div>{{item?.nome |translate}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <div class="country-item">
                                        <div>{{item.nome|translate}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div> 
                    </div>
                    <div class="rd-col rd-gap">
                        <div class="btn-adicionar">
                            <button pButton class="p-mr-2" type="button" icon="pi pi-plus" label="ADICIONAR" translate ></button>
                        </div>
                        <p-orderList [value]="listaConteudo" header="{{'CONTEUDOS'|translate}}" [dragdrop]="true" controlsPosition="right">
                            <ng-template let-conteudo pTemplate="item">
                                <div>
                                    {{conteudo.nome}}
                                </div>
                            </ng-template>
                        </p-orderList>
                        <div class="item-conteudo rd-row" *ngFor="let itemConteudo of listaConteudo">
                            <div class="view" *ngIf="itemConteudo.conteudo.idTipoConteudo == 1 || itemConteudo.conteudo.idTipoConteudo == 2 " [ngStyle]="{'background':'url(' + itemConteudo.conteudo.url +')'}">
        
                            </div>
                            <div class="rd-col rd-flex">
                                <div class="rd-flex">
                                    {{itemConteudo.conteudo.titulo}}
                                </div>
                                <div class="rd-row rd-gap">
                                    <span>{{itemConteudo.conteudo.data |date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>            
</app-pagecadastro>


