<app-pagecadastro [config]="config" (save)="salvar($event)">
    <div class="playlist-cadastro rd-flex rd-col rd-gap-8">        
        <div class="rd-flex rd-col">
            <form [formGroup]="form" class="rd-flex rd-col">
                <div class="rd-flex rd-col ">
                    <div class="p-field rd-col">
                        <label for="nome" translate>NOME</label>
                        <input id="nome" required formControlName="nome" type="text" pInputText>                     
                        <small id="nome" *ngIf="form.controls['nome'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                    </div>
                    <div class="rd-row rd-gap">
                        <div class="rd-col rd-flex">
                            <label for="dataInicio" translate>Início as</label>
                            <p-calendar [showTime]="true"  hourFormat="24" dateFormat="dd/mm/yy" formControlName="dataInicio"  appendTo="body" inputId="dataInicio"></p-calendar>
                            <small id="dataInicio" *ngIf="form.controls['dataInicio'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>
                        <div class="rd-col rd-flex">
                            <label for="dataFim" translate>Término as</label>
                            <p-calendar [showTime]="true" hourFormat="24" dateFormat="dd/mm/yy" formControlName="dataFim"  appendTo="body"  inputId="dataFim"></p-calendar>
                            <small id="dataFim-error" *ngIf="form.controls['dataFim'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div>
                        <div class="rd-col rd-flex">
                            <label for="status" translate>STATUS</label>
                            <p-dropdown [options]="listaStatus" formControlName="status" optionLabel="nome" optionValue="id" >
                                <ng-template let-item pTemplate="selectedItem">
                                    <div class="" >
                                        <div>{{item?.nome |translate}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-item pTemplate="item">
                                    <div class="country-item">
                                        <div>{{item.nome|translate}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <small id="status" *ngIf="form.controls['status'].errors?.required" class="p-error">{{'CAMPO_OBRIGATORIO'|translate}}</small>
                        </div> 
                    </div>
                    <div class="rd-col rd-flex ">
                        <div class="div-container-orderlist rd-col">
                            <div class="rd-row header">
                                <div class="rd-flex">
                                    {{'CONTEUDOS'|translate}}
                                </div>
                                <div>
                                    <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-rounded btn-add" translate (click)="abrirLista()"></button>
                                </div>
                            </div>
                            <p-orderList class="rd-flex rd-col" [value]="listaConteudo"  [dragdrop]="true" controlsPosition="right">
                                <ng-template let-itemList pTemplate="item">
                                    <app-conteudo-row [conteudo]="itemList.conteudo"  (onExcluir)="excluirConteudo(itemList)"
                                        [exibiBtnAlterar]="false" [exibiBtnExcluir]="true" [exibiBtnVisualizar]="false" [exibiBtnClonar]="false">
                                    </app-conteudo-row>
                                </ng-template>
                            </p-orderList>
                        </div>
                    </div>
                </div> 
            </form>
        </div>
    </div>            
</app-pagecadastro>
<!-- <app-conteudo-dialog-playlist #dialogConteudo></app-conteudo-dialog-playlist> -->

